<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \MMS\Promotions\Block\Promotion */
$promotionSrc = $block->getPromotion('cartanchorone');
if ($promotionSrc) {
?>
<div class="mms-promotion">
    <img src="<?php echo $promotionSrc?>" />
</div>
<?php }?>
