<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>
<?php $paybillHelper = $this->helper('MMS\Paybill\Helper\Data');?>
<?php $_order = $block->getOrder() ?>
<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Order Information')) ?></strong>
    </div>
    <div class="block-content">
        <?php if (!$_order->getIsVirtual()) : ?>
            <div class="box box-order-shipping-address">
                <strong class="box-title"><span><?= $block->escapeHtml(__('Shipping Address')) ?></span></strong>
                <div class="box-content">
                    <address><?= /* @noEscape */ $block->getFormattedAddress($_order->getShippingAddress()) ?></address>
                </div>
            </div>

            <div class="box box-order-shipping-method">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Shipping Method')) ?></span>
                </strong>
                <div class="box-content">
                <?php if ($_order->getShippingDescription()) : ?>
                    <?= $block->escapeHtml($_order->getShippingDescription()) ?>
                <?php else : ?>
                    <?= $block->escapeHtml(__('No shipping information available')) ?>
                <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>

        <div class="box box-order-billing-address">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Billing Address')) ?></span>
            </strong>
            <div class="box-content">
                <address><?= /* @noEscape */ $block->getFormattedAddress($_order->getBillingAddress()) ?></address>
            </div>
        </div>
        <div class="box box-order-billing-method">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Payment Method')) ?></span>
            </strong>
            <?php
            $customTitleClass = '';
            if ($_order->getIsPaybill()) {
                $titleSuffix = '';
                $quote = $paybillHelper->getQuoteFromOrder($_order->getQuoteId());
                if (!in_array($quote->getData('acs_order_status'), ['SUSPENDED', 'BILLED'])) {
                    $titleSuffix = ' with Automatic Renewal';
                }
                $title = $_order->getPayment()->getMethodInstance()->getTitle();;
                if ($_order->getPayment()->getMethodInstance()->getCode() == 'md_firstdata') {
                    $title = 'Credit Card' . $titleSuffix;
                    $customTitleClass = 'custom-payment-info-title';
                } else if ($_order->getPayment()->getMethodInstance()->getCode() == 'paypal_express') {
                    $title = 'PayPal'. $titleSuffix;
                    $customTitleClass = 'custom-payment-info-title';
                }
            }
            ?>
            <div class="box-content <?php echo $customTitleClass; ?> ">
                <?php if ($customTitleClass != ''): ?>
                <div class="custom-title">
            	   <div class="bold"><?= /* @noEscape */ $title ?></div>
                </div>
                <?php endif; ?>
                <?= $block->getPaymentInfoHtml() ?>
            </div>
        </div>
    </div>
</div>
