<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li id="payment" role="presentation" class="checkout-payment-method" data-bind="fadeVisible: isVisible">
    <div id="checkout-step-payment"
         class="step-content"
         data-role="content"
         role="tabpanel"
         aria-hidden="false">
        <!-- ko if: (quoteIsVirtual) -->
            <!-- ko foreach: getRegion('customer-email') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        <!--/ko-->
        <form id="co-payment-form" class="form payments" novalidate="novalidate">
            <input data-bind='attr: {value: getFormKey()}' type="hidden" name="form_key"/>
            <fieldset class="fieldset">
                <div class="ey_billing_address_step">
                    <!-- ko if: (quoteIsVirtual) -->
                	<legend class="legend">
                    	<span data-bind="i18n: 'Billing Address'"></span>
                	</legend>
                    <!-- /ko -->
                    <br />
                	<!-- ko foreach: getRegion('afterMethods') -->
                    	<!-- ko template: getTemplate() --><!-- /ko -->
                	<!-- /ko -->
                </div>
                <div class="ey_payment_method_step">
                	<legend class="legend">
                    	<span data-bind="i18n: 'Payment Information'"></span>
                	</legend><br />
                	<div id="checkout-payment-method-load" class="opc-payment" data-bind="visible: isPaymentMethodsAvailable">

                	    <!-- ko foreach: getRegion('payment-methods-list') -->
                	        <!-- ko template: getTemplate() --><!-- /ko -->
                	    <!-- /ko -->
                	    <!-- ko foreach: getRegion('beforeMethods') -->
                    		<!-- ko template: getTemplate() --><!-- /ko -->
                		<!-- /ko -->
                        <!-- ko foreach: getRegion('placeOrderButtonArea') -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                	</div>
                	<div class="no-quotes-block" data-bind="visible: isPaymentMethodsAvailable() == false">
                	    <!-- ko i18n: 'No Payment method available.'--><!-- /ko -->
                	</div>
                </div>

            </fieldset>
        </form>
    </div>
</li>
