<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div id="opc-sidebar"
     data-bind="afterRender:setModalElement, mageInit: {
    'Magento_Ui/js/modal/modal':{
        'type': 'custom',
        'modalClass': 'opc-sidebar opc-summary-wrapper',
        'wrapperClass': 'checkout-container',
        'parentModalClass': '_has-modal-custom',
        'responsive': true,
        'responsiveClass': 'custom-slide',
        'overlayClass': 'modal-custom-overlay',
        'buttons': []
    }}">

	<!-- ko foreach: getRegion('promotions-top') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	<!-- ko foreach: getRegion('promotions-aside') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
    <!-- ko foreach: getRegion('summary') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->

    <ul id="down_cart_info">

	<li>

		<div id="img-d">
			<span class="icon-security"></span>
		</div>
		<div id="txt-d">
			<p class="text1">PRIVACY & SECURITY</p><p><span id="text2">Your information is secure. Please see our <a target="_blank" href="https://www.nejmgroup.org/legal/privacy-policy.htm">Privacy Policy.</a></span></p>
		</div>

	</li>
	<li>
		<div id="img-d">
			<span class="icon-check"></span>
		</div>
		<div id="txt-d">
			<p class="text1">SATISFACTION GUARANTEED</p><p><span id="text2">If you are not completely satisfied with your subscription, you may cancel at any time. No questions asked.</span></p>

		</div>
	</li>

	</ul>
</div>
