<?php $cards = $this->getCards();
    
?>
<div class="ui-tabs" id="md-firstdata-cards-list-container">
    <ul class="md-firstdata-cards-list ui-tabs-nav">
        <?php foreach ($cards as $idx => $_card): ?>
        <li class="md-firstdata-cards-list-item">
            <div class="md-firstdata-cards-list-item-actions">
                <button class="action-edit" type="button" customer-card-id="<?php echo (string)$_card["card_id"] ?>">
                        <span></span>
                </button>
                <button class="action-delete" type="button" customer-card-id="<?php echo (string)$_card["card_id"] ?>">
                        <span></span>
                </button>
            </div>
            <strong><?php echo __('Card:').' '.'XXXXXX-'.$_card['cc_last_4']; ?></strong>
            <address>
                <?php echo $this->getFormatedAddress($_card) ?>
            </address>
        </li>
        <?php endforeach; ?>
        <li class="md-firstdata-cards-actions last">
            <button type="button" class="scalable add" id="md-cards-add">
                <span><?php echo __('Add New Card') ?></span>
            </button>
        </li>
    </ul>
    <div class="md-firstdata-cards-item-edit ">
        <div class="md-firstdata-cards-item-edit-content address-item-edit-content">
            <fieldset class="admin__fieldset md-firstdata-cards-item-edit-fieldset">
                <?php echo $this->getChildHtml('firstdataAddCards') ?>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript">
    require(['jquery'],function($){
            $('.md-firstdata-cards-list-item').each(function(i, element){
                $(element).hover(
                    function(){
                        $(element).addClass('ui-state-active');
                    },
                    function(){
                        $(element).removeClass('ui-state-active');
                    }
                );
            });
        $('#md-cards-add').on('click',function(event){
            addNewForm();
        });
        
        $('.action-delete').on('click',function(event){
            var customercardid = $(this).attr('customer-card-id');
            
            
            $.ajax('<?php echo $this->getDeleteActionUrl() ?>?isAjax=true',{
               data: {customercardid: customercardid},
               method: 'GET',
               dataType: 'json',
               beforeSend: function(){
                   $('li:has(button[customer-card-id="'+customercardid+'"])').slideUp('slow');
                   jQuery('.admin__data-grid-loading-mask').show();
                    jQuery('.admin__data-grid-loading-mask').css("position","fixed");
               },
               complete: function(transport){
                    jQuery('#messages').remove();
                    var resultData = transport.responseText.evalJSON();
                     var responseText = transport.responseText.evalJSON();
                    var updateflag = true;
                    if (transport.responseText.isJSON()) {
                            var response = transport.responseText.evalJSON();
                            if (response.ajaxExpired && response.ajaxRedirect) {
                                updateflag = false;
                                setLocation(response.ajaxRedirect);
                            }

                     }
                    if(updateflag)
                     {
                        if(responseText.error)
                        {
                             jQuery('li:has(button[customer-card-id="'+customercardid+'"])').slideDown('slow');
                        }
                         jQuery('.admin__data-grid-loading-mask').hide();
                         jQuery('.admin__data-grid-loading-mask').css("position","absolute");
                          addNewForm();
                         jQuery('.page-main-actions').after(responseText.message);
                     }
                    
               },
               error: function(transport){
                     $('.md-cim-cards-item-edit-content').html('Error during processing...');
               },
               
            });
        });
        
        $('.action-edit').on('click',function(event){
             var customercardid = $(this).attr('customer-card-id');
             
            $.ajax('<?php echo $this->getEditCardAction() ?>?isAjax=true',{
               data: {customercardid: customercardid},
               method: 'GET',
               dataType: 'html',
               beforeSend: function(){
                    jQuery('.admin__data-grid-loading-mask').show();
                    jQuery('.admin__data-grid-loading-mask').css("position","fixed");
               },
               complete: function(transport){
                   var responseText = transport.responseText;
                    var updateflag = true;
                    if (transport.responseText.isJSON()) {
                            var response = transport.responseText.evalJSON();
                            if (response.ajaxExpired && response.ajaxRedirect) {
                                updateflag = false;
                                setLocation(response.ajaxRedirect);
                            }
                            
                     }
                     if(updateflag)
                     {
                        $('.md-firstdata-cards-item-edit-fieldset').html(transport.responseText);
                        jQuery('.admin__data-grid-loading-mask').hide();
                        jQuery('.admin__data-grid-loading-mask').css("position","absolute");
                     }
               },
               error: function(transport){
                    $('.md-firstdata-cards-item-edit-fieldset').html('Error during processing...');
               },
            });
            
        });
    });
    function addNewForm()
    {
        jQuery.ajax('<?php echo $this->getAddAction() ?>?isAjax=true',{
               data: {},
               method: 'GET',
               dataType: 'html',
               beforeSend: function(){
                   jQuery('.admin__data-grid-loading-mask').show();
                    jQuery('.admin__data-grid-loading-mask').css("position","fixed");
               },
               complete: function(transport){
                    var responseText = transport.responseText;
                    var updateflag = true;
                    if (transport.responseText.isJSON()) {
                            var response = transport.responseText.evalJSON();
                            if (response.ajaxExpired && response.ajaxRedirect) {
                                updateflag = false;
                                setLocation(response.ajaxRedirect);
                            }
                            
                     }
                     if(updateflag)
                     {
                          jQuery('.md-firstdata-cards-item-edit-fieldset').html(transport.responseText);
                          jQuery('.admin__data-grid-loading-mask').hide();
                          jQuery('.admin__data-grid-loading-mask').css("position","absolute");
                     }
                    
               },
               error: function(transport){
                    jQuery('.md-firstdata-cards-item-edit-fieldset').html('Error during processing...');
               },
              
            });
    }
</script>