<div class="header-account-link">
	<div class="notloggedin" style="display:none">
		<a href="/customer/account/login" id="sign_in_akamai_link"><span class="welcome_message">Sign In</span></a>
	</div>
	<div class="loggedin" style="display:none">
		<a><span class="welcome_message">Welcome <span class="customername"></span></span></a>
		<div class="account-drop-down" style="display:none">
    		<div class="content-account">
    			<ul>
    				<li><a href="/customer/account/">My Account</a></li>
    				<li><a href="/customer/account/logout/" id="sign_out_akamai_link">Log Out</a></li>
    			</ul>
    		</div>
    	</div>
	</div>
</div>