<?php
/** @var $block \MMS\ReviewCme\Block\Widget\EnrollBy */
?>
<?php
    $post_text = $block->getData('postText');
    $pre_text = $block->getData('preText');
?>

<?php if ($block->getExamDate()) { ?>
    <div class="enroll-by-date">
        <p><?= $pre_text ?> <?= $block->getExamDate() ?> <span><?= $post_text ?></span></p>
    </div> 
<?php } ?>
