<?php
/** @var $block \MMS\ReviewCme\Block\Widget\Program */
?>
<!-- We need to finalise the design and implement html css  @Amit will take care of that -->
<?php if ($block->getProgramSchedule()) { ?>
    <span class="rcme-program-name">
        <?php if (isset($block->getProgramSchedule()['program'])) { ?>
            <p> <?= $block->getProgramSchedule()['program'] ?> </p>
        <?php } ?>
        </span>
<?php } ?>
