<?php $_order = $block->getOrder() ?>
<?php if($_order->getData('ucc_promocode') != ""){ ?>
<section class="admin__page-section">
	<div class="admin__page-section-title">
        <span class="title">Promo Code</span>
    </div>

    <div class="admin__table-wrapper">Promo Code: <?php echo $_order->getData('ucc_promocode'); ?></div>
</section>
<?php } ?>