<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

 ?>

<?php //echo $block->getPromoCode(); ?>

<div id="customer_account_promocode" class="admin__page-section-content" style="margin-top: 30px;">
	<fieldset class="fieldset admin__fieldset " id="main-ucc_promocode">
		<div class="admin__field field field-ucc_promocode">
			<label class="label admin__field-label" for="ucc_promocode" style="font-weight: 600;margin-bottom: 0.86rem;display: block;text-align: left;"><span>Promo Code</span></label>
			<div class="admin__field-control control">
				<input
					style="max-width: 300px;"
					tyle="text"
					id="order-ucc_promocode"
					name="order[ucc_promocode]"
					class="input-text admin__control-text"
					value=""
				/>
			</div>
		</div>
	</fieldset>
</div>
<script>
	/*
    require(["Magento_Sales/order/create/form"], function(){
        order.ucc_promocodeFieldsBind('order-ucc_promocode')
    });
    */
</script>
