<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?= $block->getAdditionalHtml() ?>
    <div class="products wrapper grid products-grid">
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
            <li class="item product product-item">
            	<div class="product-square">
            		<?php
            			$badge = $_product->getResource()->getAttribute('badge')->getFrontend()->getValue($_product);
            			if($badge && $badge != ""){
            			?>
            				<div class="badge_wrapper">
	            				<?php echo $badge; ?>
	            			</div>
	            		<?php
            			}
            			$productImage = $block->getImage($_product, 'category_page_grid');
            		?>
            		<a href="<?= $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                        <?= $productImage->toHtml() ?>
                    </a>
            		<a class="product-item-link" href="<?= $_product->getProductUrl() ?>">
                        <?= $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                        <?php
                        $terms = '';
                        $defaultOptionId = '';
                        $defaultOptionValue = '';
                        $options = $_objectManager->get('Magento\Catalog\Model\Product\Option')->getProductOptionCollection($_product) ?: [];
                        if (count($options) > 0) {
                            foreach ($options as $o) {
                                foreach ($o->getValues() as $value) {
                                    if ($value->getData('is_default')) {
                                        $terms = $value['default_title'];
                                        $defaultOptionId = $value['option_id'];
                                        $defaultOptionValue = $value['option_type_id'];
                                        break;
                                    }
                                }
                            }
                        }
                        if ($terms == '') {
                            $terms = $_product->getResource()->getAttribute('months')->getFrontend()->getValue($_product);
                        }
                        ?>
                        <span class="ps-months"><?php echo $terms; ?></span>
                    </a>
            		<div class="ps-price">
            			<?= $block->getProductPrice($_product) ?>
            			<?php
            				$save = $_product->getResource()->getAttribute('save')->getFrontend()->getValue($_product);
            				if($save && $save != ""){
            			?>
            					<span class="save_wrapper">
	            					<?php echo $save; ?>
	            				</span>
	            		<?php
            				}
            			?>
            		</div>
            		<p class="buy_wrapper"><?php echo $_product->getResource()->getAttribute('subscription')->getFrontend()->getValue($_product); ?></p>
            		<div class="ps-buy-subscription">
            			<?php if ($_product->isSaleable()): ?>
                            <?php if ($defaultOptionId && $defaultOptionValue): ?>
                                <?php $_product->setRequiredOptions(false); ?>
                            <?php endif; ?>
                            <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                            <form data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
                                <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
                                <input type="hidden" name="options[<?= /* @escapeNotVerified */ $defaultOptionId ?>]" value="<?= /* @escapeNotVerified */ $defaultOptionValue ?>">
                                <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                <?= $block->getBlockHtml('formkey') ?>
                                <button type="submit"
                                        title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                        class="action tocart primary" disabled>
                                    <span>Subscribe Now</span>
                                </button>
                            </form>
                        <?php endif; ?>
            			<a href="<?= $_product->getProductUrl() ?>" title="<?= $_product->getName() ?>"class="action more"><?= __('Learn More') ?></a>
            		</div>

            	</div>
            	<div class="product-square-description">
                    <?= $_helper->productAttribute($_product, $_product->getDescription(), 'description') ?>

                </div>



            </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
    <script>
        require([
            "jquery",
            "domReady!"
        ], function($){
            $('.action.tocart.primary').attr('disabled', false);
        });
    </script>
<?php endif; ?>
