<?php
/** @var $block \Nejm\ThemeExtend\Block\Html\Header\NejmLogo */
?>

<div class="row">
    <div class="col-sm-8 nejm-logo">
        <img src="<?php echo $block->getLogo() ?>" alt="Nejm Brand" />
    </div>
    <div class="col-sm-4 subscription-text">
        <?php echo $block->getSubscriptionText() ?>
    </div>
</div>
