<?php $_product = $this->getProduct(); ?>
<div class="ps-price">
	<?php
		$save = $_product->getResource()->getAttribute('save')->getFrontend()->getValue($_product); 
		if($save && $save != ""){
	?>
			<span class="save_wrapper">
				<?php echo $save; ?>
			</span>
	<?php		
		}
	?>
</div>
