<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="billing-address-form">
    <!-- ko foreach: getRegion('before-fields') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <form data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
        <fieldset class="fieldset address" data-form="billing-new-address">
            <!-- ko foreach: getRegion('additional-fieldsets') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <!-- ko if: (isCustomerLoggedIn && customerHasAddresses) -->
            <div class="choice field">
                <input type="checkbox" class="checkbox"  data-bind="checked: saveInAddressBook, attr: {id: 'billing-save-in-address-book-' + getCode($parent)}" />
                <label class="label" data-bind="attr: {for: 'billing-save-in-address-book-' + getCode($parent)}" >
                    <span data-bind="i18n: 'Save in address book'"></span>
                </label>
            </div>
            <!-- /ko -->
        </fieldset>
        <div class="email_me_section">
        	<label class="container" if="isBrandCatalyst()">
        		<input type="checkbox" name="catalyst_soi" id="catalyst_soi" checked="checked">
        		<span class="checkmark"><img data-bind="attr: { src: require.toUrl('images/checkout_checkbox.png') }" style="display:none"></span>
        		<span>Email me information about services or special offers from NEJM Catalyst.</span>
        	</label>
        	<label class="container" if="isBrandCatalyst()">
        		<input type="checkbox" name="catalyst_connect" id="catalyst_connect" checked="checked">
        		<span class="checkmark"><img data-bind="attr: { src: require.toUrl('images/checkout_checkbox.png') }" style="display:none"></span>
        		<span>Stay informed with NEJM Catalyst Connect Newsletter.</span>
        	</label>

            <label class="container" if="isBrandNejm()">
                <input type="checkbox" name="nejm_soi" id="nejm_soi" checked="checked">
                <span class="checkmark"><img data-bind="attr: { src: require.toUrl('images/checkout_checkbox.png') }" style="display:none"></span>
                <span>Email me information about services and special offers from NEJM.org.</span>
            </label>
            <label class="container" if="isBrandNejm()" style="display: none;">
                <input type="checkbox" name="nejm_etoc" id="nejm_etoc" checked="checked">
                <span class="checkmark"><img data-bind="attr: { src: require.toUrl('images/checkout_checkbox.png') }" style="display:none"></span>
                <span>Stay informed with Weekly Table of Contents emails.</span>
            </label>
        	<div>
        		You can unsubscribe from NEJM Group emails at any time by using the unsubscribe links included at the bottom of each email.
        	</div>
        </div>
    </form>
</div>
