<div attr="data.main.attributes" ko-style="data.main.style" css="data.main.css">
     <div class="pagebuilder-video-inner" attr="data.inner.attributes" ko-style="data.inner.style" css="data.inner.css">
         <div class="pagebuilder-video-wrapper" attr="data.wrapper.attributes" ko-style="Object.assign(data.wrapper.style(), {backgroundColor: data.wrapper.style().borderColor})" css="data.wrapper.css">
             <div class="pagebuilder-video-container" if="data.video.attributes().src">
                 <iframe frameborder="0" allowfullscreen attr="data.video.attributes"/>
             </div>
         </div>
     </div>
 </div>