<?php
/* @var \MMS\Renew\Block\Renew $block */
?>
<div class="error-renew mage-error error" style="display: none;"></div>
<div class="widget-placeholder renew-auth-form">
  </div>
<script>
    mmsWidgets.init({
      isFullPageSignIn: true,
    });
</script>
