<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Checkout\Block\Onepage */
?>

<?php $brand = $block->getData("view_model")->getRenewCheckoutBrand(); ?>
<?php if($brand){ ?>
    <div class="renew-checkout-brand-text">
        <?php if($brand == 'catalyst'){ ?>
            Thank you for choosing to renew your subscription to NEJM Catalyst Innovations in Care Delivery.
        <?php } else { ?>
            Thank you for choosing to renew your subscription to The New England Journal of Medicine.
        <?php } ?>
    </div>
<?php } ?>
<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?= $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif')) ?>"
                 alt="<?= $block->escapeHtmlAttr(__('Loading...')) ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?= /* @noEscape */ $block->getSerializedCheckoutConfig() ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader',
            'Magento_Customer/js/model/customer'
        ], function(url, blockLoader, customer) {
            console.log(customer.isLoggedIn());
            blockLoader("<?= $block->escapeJs($block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))) ?>");
            return url.setBaseUrl('<?= $block->escapeJs($block->escapeUrl($block->getBaseUrl())) ?>');
        })

        require(['jquery', 'Magento_Customer/js/customer-data'], function ($, customerData) {
            $(document).ready(function() {
                customerData.reload(['cart'], true);
            });
        })
    </script>
</div>
