<?php
/* @var \MMS\Renew\Block\Renew $block */
?>
<div class="verify-message" id="custom-model-popup">
<p>According to our records, your subscription originally came through a subscription agency. This online renewal process will place your subscription directly through NEJM.org.</p>
<div style="display: flex;align-items: center;margin-bottom: 20px;">
	<p style="margin-bottom: 0;">Please click "Accept" to continue with your renewal.</p>
	<form method="post" action="<?= $block->getUrl('renew'); ?>" style="margin-left: 20px;">
		<input type="hidden" name="is_agency" value="1">
		<input type="submit" name="accept" value="Accept" style="line-height: 20px;border-radius: 5px;">
	</form>
</div>

<p>If you have questions about your subscription, please contact Customer Service or call 800-THE-NEJM(800-843-6356) or +1-781-434-7888 from outside the United States or Canada.</p>
<p></p>
<p><a href="https://www.nejm.org/">Back to NEJM.org</a></p>
</div>

<script>
	require([
		"jquery",
		"Magento_Ui/js/modal/modal"
	], function($, modal){
		var options = {
			type: 'popup',
			responsive: true,
			innerScroll: true,
			title: "Renew",
			buttons: [{
			}]
		};
		var popupdata = $('<div />').append($('#custom-model-popup'));
		modal(options, popupdata);
		popupdata.modal('openModal');
	});
</script>