*,body{
	font-family: ff-scala-sans-pro;
}
header.page-header {
    box-shadow: 0px 0px 10px #c5c5c5;
}
.header.content {
    padding: 24px 95px;
}
a.logo {
    margin: 0px;
    display: block;
    max-width: 100%;
	pointer-events: none;
 	cursor: default;
}
.minicart-wrapper .action.showcart:before {
    content: "";
    background: url(../images/cart-icon.png);
    width: 26px;
    height: 26px;
    background-size: auto 26px;
    background-repeat: no-repeat;
}
.minicart-wrapper .action.showcart.active:before {
    content: "";
}
.minicart-wrapper .block-minicart:before {
    right: 15px;
    top: -12px;
}
.minicart-wrapper .block-minicart:after {
    right: 14px;
    top: -14px;
    border-color: transparent transparent #707070 transparent;
}
.header-account-link {
    float: right;
    margin-top: 10px;
    line-height: 26px;
}
.header-account-link a {
    font-size: 14px;
    color: #4D4D4D;
    padding-right: 36px;
    position: relative;
    display: inline-block;
    cursor:pointer;
}
.header-account-link .loggedin a:after {
    content: "";
    width: 26px;
    height: 26px;
    background: url(../images/logged-in-account-icon.png);
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -13px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 94%;
}
.header-account-link .notloggedin a:after {
    content: "";
    width: 26px;
    height: 26px;
    background: url(../images/logged-in-account-icon.png);
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -13px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto 26px;
}
.minicart-wrapper {
    float: right;
    margin-top: 10px;
    margin-left: 30px;
}
.page-footer {
    padding: 20px 95px;
    background: #EFEFEF;
}
figure.copyright-logo {
    width: 92px;
    float: right;
}
.copyright-row {
    display: block !important;
}
.copyright {
    width: calc(100% - 100px);
    float: left;
    text-align: left;
    background: transparent;
    color: #4E4F51;
    font-size: 11px;
}
.copyright a{
	color: #4E4F51;
	text-decoration:underline;
}
.copyright-text {
    padding-top: 5px;
}
span.cr-row {
    display: block;
}

span.cr-row.cr-1 {
    margin-bottom: 5px;
}
.header-account-link .loggedin {
    position: relative;
}
.header-account-link .account-drop-down {
    position: absolute;
    top: 41px;
    right: -56px;
    width: 136px;
    z-index: 9999;
    background: #fff;
    border: 1px solid #707070;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    height: 107px;
}
.header-account-link .account-drop-down:before {
    content: "";
    border-top: 10px solid transparent;
    border-bottom: 10px solid #707070;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
}
.header-account-link .account-drop-down:after {
    content: "";
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -18px;
    left: 50%;
    margin-left: -10px;
}
.header-account-link .content-account {
    padding: 23px 15px;
}
.header-account-link .content-account ul {
    padding: 0px;
    margin: 0px;
}
.header-account-link .content-account ul li {
    list-style-type: none;
    margin-bottom: 0px;
}
.header-account-link .content-account ul li a {
    font-size: 16px;
    color: #000000;
}
.header-account-link .content-account ul li:first-child {
    margin-bottom: 10px;
}
.header-account-link .content-account ul li a {
    padding: 0px;
    background: transparent;
}
.header-account-link .content-account ul li a:after {
    display: none;
}
button#top-cart-btn-checkout {
    background: #FFD833;
    border: none;
    border-radius: 0px;
   /* height: 50px;
    width: 280px;*/
    margin:auto;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    font-family: ff-scala-sans-pro;
}

.minicart-items .product-item-name a,
a.action.viewcart span {
    color: #000000;
    font-size: 14px;
    text-decoration:underline;
}
.minicart-items .action.edit:before {
    content: "";
    background: url(../images/edit_cart.png);
    width: 18px;
    height: 20px;
    background-size: 18px;
    background-repeat: no-repeat;
}

.minicart-items .action.delete:before {
    content: "";
    background: url(../images/empty_cart.png);
    width: 14px;
    height: 20px;
    background-size: 14px;
    background-repeat: no-repeat;
}
.minicart-wrapper .action.showcart .counter.qty {
    background: #fa3302;
}
.minicart-wrapper .action.showcart .counter-number {
    text-shadow: none;
}
.cart-empty .text-1{
    color: #1C2022;
    font-size: 32px;
    line-height: 38px;
    font-weight: bold;
    padding-left: 80px;
}
.cart-empty .text-2, .cart-empty .text-2 a {
    color: black;
    font-size: 14px;
    line-height: 28px;
	padding-left: 80px;
}
.cart-empty .text-2 a {
    text-decoration: underline;
	padding-left: 0px;
}
.cart-empty {
    margin-top: 100px;
}
.block-minicart .subtitle.empty {
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.minicart-wrapper.active .block-minicart {
    top: 45px;
    border: 1px solid #707070;
}
.minicart-wrapper .action.close:before {
	font-weight: bold;
    color: #808285;
    font-size: 13px;
    line-height: 13px;
}
.minicart-wrapper .action.close {
	right: 2px;
    top: 5px;
}
.cms-no-route p.text-1 {
    color: #FF3300;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 80px;
}
.cms-no-route p.text-2 {
    color: #1C2022;
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
}
.cms-no-route  p.text-3 {
    max-width: 460px;
    border-bottom: 1px solid #1C2022;
    color: #4E4F51;
    font-size: 16px;
    line-height: 50px;
    margin-top: 50px;
    font-weight: bold;
}
.cms-no-route .four0four a {
    color: #000000;
    font-size: 14px;
    line-height: 28px;
    display: block;
    text-decoration: underline;
    float: left;
    clear: both;
}
.cms-no-route .page-title-wrapper {
    display: none;
}
.cms-no-route .header.content {
    padding: 24px 10px;
}
.four0four {
    padding-left: 80px !important;
    min-height: 600px;
}
.cms-no-route ul.compare.wrapper {
    display: none;
}
@media only screen and (max-width: 1024px){
	.cart-empty .text-2, .cart-empty .text-1 {
		padding-left: 20px;
	}
	.cart-empty .text-1 {
		font-size: 28px;
		line-height: 34px;
	}
	.cart-empty {
		margin-top: 70px;
	}
	.header.content {
    	padding: 27px 30px;
	}
	a.logo img {
    	display: none;
	}
	a.logo {
	    height: 42px;
	    width: 220px;
	    background: url(../images/nejm-logo-mobile.png);
	    background-repeat: no-repeat;
	    background-position: 50%;
	    background-size:100%;
	}
	.page-footer {
    	padding: 15px 30px;
	}
	.four0four {
		padding-left: 30px !important;
	}
	.cms-no-route p.text-1 {
		margin-top: 70px;
	}
	.cms-no-route p.text-2 {
		font-size: 28px;
	    line-height: 34px;
	}
	.cms-no-route .header.content {
		padding: 24px 30px;
	}
}

@media only screen and (max-width: 767px){
	.minicart-wrapper.active .block-minicart {
    	top: 40px;
		width: 270px;
	}
	.block-minicart .subtitle.empty {
		font-size: 12px;
		padding: 5px 0 5px;
	}
	.cart-empty {
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 35px;
	}
	.cart-empty .text-2, .cart-empty .text-1 {
	    padding-left: 0;
	}
	.cart-empty .text-1 {
		font-size: 23px;
		line-height: 29px;
	}
	.cms-no-route p.text-1 {
    	margin-top: 20px;
	}
	.cms-no-route .header.content {
		padding: 24px 20px;
	}
	.four0four {
		padding-left: 10px !important;
	    min-height: 300px;
	}
	.cms-no-route p.text-2 {
		font-size: 23px;
		line-height: 29px;
	}
	span.action.nav-toggle {
    	display: none;
	}
	span.welcome_message {
	    display:none
	}
	.notloggedin a, .loggedin a {
	    height: 26px;
	}
	a.logo {
	    width: 156px;
	    height: 30px;
	    background-size: 100%;
	}
	.minicart-wrapper {
	    margin-top: 0px;
	}
	.header-account-link {
	    margin-top: 0px;
	}
	.copyright {
	    width: 100%;
	    float: none;
	    text-align: center;
	}
	figure.copyright-logo {
		float: none;
    	margin: 15px auto 0px !important;
	}
	span.cr-3 {
		display: block;
	}
	span.cr-row {
    	display: inline;
	}
	.copyright-text {
    	max-width: 330px;
    	margin: auto;
	}
}
