<div class="file-uploader-summary">
    <div class="file-uploader-preview">
        <a class="preview-link"
           css="'preview-' + $file.previewType"
           attr="href: $parent.getFilePreview($file), title: $file.name" target="_blank">
            <img
                if="$file.previewType === 'image'"
                tabindex="0"
                event="load: $parent.onPreviewLoad.bind($parent)"
                attr="
                    src: $parent.getFilePreview($file),
                    alt: $file.name">
        </a>

        <div class="actions">
            <button
                type="button"
                class="action-remove"
                data-role="delete-button"
                attr="title: $t('Delete image')"
                click="$parent.removeFile.bind($parent, $file)">
                <span translate="'Delete image'"/>
            </button>
        </div>
    </div>

    <div class="file-uploader-filename" text="$file.name"/>
    <input class="admin__control-text" type="hidden"
       data-bind="
        value: $file.file,
        attr: {
            name: $parent.multFileInputName,
            placeholder: $parent.placeholder,
            'aria-describedby': $parent.noticeId,
            form: $parent.formId,
            id: $parent.uid
    }"/>
    <div class="file-uploader-meta">
        <span if="$file.previewType === 'image'">
            <text args="$file.previewWidth"/>x<text args="$file.previewHeight"/>,
        </span>
        <text args="$parent.formatSize($file.size)"/>
    </div>
</div>
