<?php
/** \Nejm\Cmswidgets\Block\Widget\CallToAction $block */

use Magento\Framework\App\Action\Action;
?>


<?php
$label = $block->getData('ctaLabel') ;
$sku = $block->getData('productSku');
$_product = $block->getProductData($sku);
$color = $block->getData('color');
$defaultOptionId = '';
$defaultOptionValue = '';
if($_product){
    $optionValue = $block->getProductOptions($_product);
}

if(!empty($optionValue)){
    $defaultOptionId = $optionValue['option_id'];
    $defaultOptionValue = $optionValue['option_type_id'];
}

if(!isset($color)){
    $color = '#ffd833';
}

?>


<div class="ps-buy-subscription">
    <?php if ($defaultOptionId && $defaultOptionValue): ?>
        <?php $_product->setRequiredOptions(false); ?>
    <?php endif; ?>
    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
    <form data-role="tocart-form" data-product-sku="<?= $sku ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
        <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
        <input type="hidden" name="promocode" value="<?= /* @escapeNotVerified */ $block->getPromoCode() ?>">
        <input type="hidden" name="freegiftsku" value="<?= /* @escapeNotVerified */ $block->getData('freeGiftSku') ?>">
        <input type="hidden" name="options[<?= /* @escapeNotVerified */ $defaultOptionId ?>]" value="<?= /* @escapeNotVerified */ $defaultOptionValue ?>">
        <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
        <?= $block->getBlockHtml('formkey') ?>
        <button type="button"
                title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                class="ctaButton disabled"
                style="background: <?= $block->escapeHtml(__($color)) ?>">
            <span><?= $label ?></span>
        </button>
    </form>
</div>
<script type="text/x-magento-init">
{
    "[data-role=tocart-form]": {
        "catalogWidgetAddToCart": {}
    }
}
</script>
