<?php
/** \Nejm\Cmswidgets\Block\Widget\EventSignUpForm $block */
?>

<div class="widget-placeholder">

</div>

<script>
    mmsWidgets.showEventSignUp('.widget-placeholder', '<?= strval($block->getData('eventId'))?>');
</script>