<?php
/** \Nejm\Cmswidgets\Block\Widget\FreeGift $block */
?>


<?php 
$title = $block->getData('freeGiftTitle') ;
$freeGiftData = $block->getFreeGiftData();

$fg_display_class = $freeGiftData['class'];
$subtitle = '';
$imageURL = '';
if(isset($freeGiftData['productData']['subtitle'])){
    $subtitle = $freeGiftData['productData']['subtitle'];
}
if(isset($freeGiftData['productData']['imageURL'])){
    $imageURL = $freeGiftData['productData']['imageURL'];
}

?>


<div class="free-gift-container <?= $fg_display_class ?>">
    <div class="free_gift_cms_block">
        <div class="free_gift_text_block">
            <p class="fg_cms_text"><?= $title ?></p>
            <p class="fg_cms_stext"><i><?= $subtitle ?></p>
        </div>
        
    </div>

    <div class="free_gift_cms_block">
        <img class="fg_cms_img" src=<?= $imageURL ?> alt="" title="" data-element="desktop_image" style="border-style: none; border-width: 1px; border-radius: 0px; max-width: 100%; height: auto;">
    </div>
</div>