<?php
/** \Nejm\Cmswidgets\Block\Widget\NEJMRegistrationForm $block */
?>

<div class="widget-placeholder">

</div>

<script>
    mmsWidgets.nejmRegMultiStep('.widget-placeholder', null , {
        confirmationPageUrl: '<?= strval($block->getData('thankYouPage'))?>',
        headerContent: '<?= strval($block->getData('headerContent'))?>'
    });
</script>