<?php
/** \Nejm\Cmswidgets\Block\Widget\PdfPremiumSignUpForm $block */
?>

<div class="widget-placeholder ebook-form">

</div>

<script>
    mmsWidgets.showPdfPremiumsignUp('.widget-placeholder', {
        pdfPremiumFileName: '<?= strval($block->getData('pdfPremiumFileName'))?>',
        pdfPremiumFileUrl: '<?= strval($block->getData('pdfPremiumFileUrl'))?>',
        passwordRequired : <?= $block->getData('passwordRequired')?>
    });
</script>