<?php
/** \Nejm\Cmswidgets\Block\Widget\Price $block */
?>

<?php
    $strikeThrough = $block->getStrikeThroughClass();
?>
<?php if ($block->getPriceData()) { ?>
    <div class="ps-price ps-price-cms <?= $strikeThrough ?>">
        <div class="price-box price-final_price" data-role="priceBox" >
            <span class="special-price">
                <span class="price-container price-final_price tax weee">
                    <span class="price-label">Special Price</span>
                    <span id="product-price-2"  data-price-type="finalPrice" class="price-wrapper ">
                        <span class="price"><?= $block->getPriceData() ?></span>
                    </span>
                </span>
            </span>
            <?php if($block->getPriceData(false) < $block->getRegularPrice(false)) { ?>
                <span class="old-price">
                    <span class="price-container price-final_price tax weee">
                        <span class="price-label">Regular Price</span>
                        <span id="old-price-2" data-price-type="oldPrice" class="price-wrapper ">
                            <span class="price"><?= $block->getRegularPrice() ?></span>
                        </span>
                    </span>
                </span>
            <?php } ?>
        </div>
    </div>
<?php } ?>
