<?php
/** \Nejm\Cmswidgets\Block\Widget\PromoImages $block */
?>


<?php 
$imageURL = $block->getPromotionImage();
?>


<div class="promotion-image">
    <img class="" src=<?= $imageURL ?> alt="" title="" >
</div>