<?php
/** \Nejm\Cmswidgets\Block\Widget\RegistrationThankYouPage $block */
?>

<?php 

$buttonName = $block->getButtonName();
$returnURL = $block->getReturnURL();
$alerts =  $block->getAlerts();
$alertsURL = $block->getMyAccountAlertLink();

?>


<div class="thankyoupage">
    <?php if ($block->getAlerts()) { ?>
        <div class='alerts-section'>
            <h2>Your current alerts include:</h2>
            
            <ul class='alert-list'>
                <?php foreach($alerts as $_alert): ?>
                    <li><?php echo $_alert; ?></li>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php } ?>

    <div class='buttons'>
        <a href="<?php echo $returnURL; ?>" class="ucc-btn ucc-btn-backtosite"><?php echo $buttonName; ?></a>
        <a href="<?php echo $alertsURL; ?>" class="ucc-btn ucc-btn-profile-alert">MANAGE PROFILE AND ALERTS <svg class="alert-icon-arrow" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon--arrow"><svg viewBox="0 0 24 24" id="icon--arrow" width="100%" height="100%"><path fill="none" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" d="M4 12h15m-6-6l6 6-6 6"></path></svg></use></svg></a>
    </div>
</div>