<?php
/** \Nejm\Cmswidgets\Block\Widget\SavePrice $block */
?>

<?php
    $post_text = $block->getData('postText');
    $pre_text = $block->getData('preText');
?>


<?php if ($block->getPriceData()) { ?>
    <?php if ($block->getData('percentage') != '1') : ?>
        <div class="save-price">
                <p><?= $pre_text ?> <?= $block->getCurrencySymbol()?><?= $block->getPriceData() ?>   <?= $post_text ?></p>
        </div> 
    <?php else: ?>
        <div class="save-price">
                <p><?= $pre_text ?> <?= $block->getPriceData() ?><?= $block->getCurrencySymbol()?>  <?= $post_text ?></p>
        </div> 
    <?php endif; ?>
    
<?php } ?>