<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<?php $helper = $this->helper('Ey\Core\Helper\Data'); ?>
<?php $order = $helper->getOrder($block->getOrderId()); ?>
<?php $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');?>
<?php $checkoutHelper = $this->helper('Ey\Checkout\Helper\Data');?>
<?php $muleSoftHelper = $this->helper('Ey\MuleSoft\Helper\Data');?>
<?php $promotionHelper = $this->helper('MMS\Promotions\Helper\Data');?>
<?php $urlParamHelper = $this->helper('Ey\URLParams\Helper\Data');?>
<?php
$countryId = '';
$billingAddress = $order->getBillingAddress();
if ($billingAddress) {
    $countryId = $billingAddress->getCountryId();
}
?>
<div class="success-wrapper">
	<div class="progress-success">
		<span><span>1</span> REVIEW & PAYMENTS</span>
		<span class="active">CONFIRMATION</span>
	</div>
	<?php if ($promotionHelper->getPromotionAnchorForConfirmation($order)) {?>
	<div class="mms-promotion" style="padding-bottom: 10px; margin-top: -35px;">
	    <img src="<?php echo $promotionHelper->getPromotionAnchorForConfirmation($order)?>" />
	</div>
<?php }?>
	<div class="left-side">
		<div class="to-left">
			<div class="page-title-wrapper show">
				<h1 class="page-title">
					<span class="base" data-ui-id="page-title-wrapper">Thank you for your order!</span>
				</h1>
			</div>
			<p class="email-note">We'll email you an order confirmation with details on your order.</p>
			<div class="order_details">
				<p class="heading">ORDER DETAILS</p>
				<?php
					$free_gift_file = "";
					$free_gift_title = "";
					$free_gift_file_attribute = "free_pdf";
					$free_gift_title_attribute = $helper->getConfigValue('freegift/attributes/title');
					if (strtolower($muleSoftHelper->getProductBrandFromOrder($order)) == 'nejm') {
						$goToLatestIssue = $helper->getConfigValue('manageprofile/url/go_to_nejm_latest_issue');
					} else {
						$goToLatestIssue = $helper->getConfigValue('manageprofile/url/go_to_latest_issue');
					}
				?>
				<?php  foreach ($order->getAllVisibleItems() as $item):  ?>
                    <?php $product = $helper->getProductInfo($item->getProductId()); ?>
                    <?php $options = $item->getProductOptions(); ?>
                    <?php $termOption = false; ?>
                    <?php if (isset($options['options']) && !empty($options['options'])): ?>
                        <?php foreach ($options['options'] as $option) : ?>
                            <?php
                            if (strtolower($block->escapeHtml($option['label'])) == 'term'
                                || strtolower($block->escapeHtml($option['label'])) == 'terms') {
                                $termOption = $block->escapeHtml($option['value']);
                            } ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    <div class="single_item">
                        <p class="item-name"><?= $product['pdp_title']; ?></p>
                        <p class="item-price">
                            <?php /* if($product['special_price'] > 0): ?>
								<?= $priceHelper->currency($product['regular_price'], true, false); ?>
							<?php endif; */ ?>
                            <?= $priceHelper->currency($item->getPrice(), true, false); ?>
                        </p>
                        <p class="item-months"><b>Term:</b> <?= $termOption ?? $product['months']; ?></p>
                    </div>
                    <?php
                    if ($free_gift_title_attribute != "") {
                        $product = $helper->loadProductById($item->getProductId());
                        $ptemp1 = $product->getResource()->getAttribute($free_gift_file_attribute)->getFrontend()->getValue($product);
                        $ptemp2 = $product->getResource()->getAttribute($free_gift_title_attribute)->getFrontend()->getValue($product);
                        if( $ptemp1 != "" && $ptemp2 != ""){
                            $free_gift_file = $ptemp1;
                            $free_gift_title = $ptemp2;
                        }
                    }
                    ?>
				<?php endforeach; ?>
				<p class="payment-method"><b>Payment Method:</b> <?= $helper->getPaymentTitle($block->getOrderId()); ?></p>
			</div>
			<?php
				echo $this->getLayout()
				->createBlock('Magento\Cms\Block\Block')
				->setBlockId('question_section')
				->toHtml();
			?>
		</div>
		<div class="buttons">
			<?php $backToArticle = $order->getData('back_to_article');
				if($backToArticle){
			?>
			<a href="<?php echo $backToArticle; ?>" class="back">BACK TO ARTICLE</a>
			<?php } ?>
			<?php if($free_gift_file != "" && $free_gift_title != ""){ ?>
				<a href="/media/productfiles/<?php echo $free_gift_file; ?>" class="download" download><?php echo $free_gift_title; ?></a>
			<?php } ?>
			<a href="<?php echo $goToLatestIssue?>" class="latest_issue">Go to Latest Issue</a>
		</div>
		<div class="to-left">
			<div class="order-amount-billing">
				<div class="order-amount">
					<p class="heading">ORDER AMOUNT</p>
					<?php $orderAmount = $helper->getOrderAmount($block->getOrderId()); ?>
					<p class="order-subtotal"><span>Subtotal:</span> <?= $priceHelper->currency($orderAmount['subtotal'], true, false); ?></p>
					<p class="order-tax"><span>Tax:</span> <?= $priceHelper->currency($orderAmount['tax'], true, false); ?></p>
					<p class="order-amount-paid"><span>Amount Paid:</span> <?= $priceHelper->currency($orderAmount['amount-paid'], true, false); ?></p>
				</div>
				<div class="order-billing">
					<p class="heading">BILLING INFORMATION</p>
					<?= $helper->getBillingInformation($block->getOrderId()); ?>
				</div>
			</div>

			<?php if($helper->getIsCustomerLoggedIn()): ?>
				<a href="/sales/order/print/order_id/<?php echo $helper->getIncrementOrder($block->getOrderId()); ?>" target="_blank" class="view_recept" style="margin-bottom: 0;">View Receipt</a>
			<?php else: ?>
				<?php  $setUpCurrentOrder = $helper->setCurrentOrder($order); ?>
				<?php if($setUpCurrentOrder){ ?>
					<a href="/sales/guest/print/order_id/<?php echo $order->getId(); ?>/" class="view_recept" target="_blank" style="margin-bottom: 0;">View Receipt</a>
				<?php } ?>
			<?php endif; ?>

            <?php if ($countryId == 'US') {?>
                <p>You have been enrolled in Email Alerts. <a style="width: auto;" href= "<?php echo $checkoutHelper->getEmailAlertsUrl(); ?>" class="manage_email">Manage Email & Alerts</a></p>
            <?php } else {?>
                <a href= "<?php echo $checkoutHelper->getEmailAlertsUrl(); ?>" class="manage_email">Manage Email & Alerts</a>
            <?php }?>
		</div>
	</div>
	<div class="to-right">
		<?php
			echo $this->getLayout()
			->createBlock('Magento\Cms\Block\Block')
			->setBlockId('promotional_area')
			->toHtml();
		?>
	</div>
</div>
<script>
    require(['jquery', "Ey_Checkout/js/success", 'Magento_Customer/js/customer-data', "domReady!"], function($, eySuccess, customerData) {
        eySuccess._init();
        customerData.invalidate(['cart']);
        $.cookie("product", null, { path: '/' });
    });
</script>
