<?php
/* @var \MMS\Paybill\Block\Paybill $block */
?>
<div class="error-paybill mage-error error" style="display: none;"></div>
<div class="widget-placeholder paybill-auth-form">
  </div>
<script>
    mmsWidgets.init({
      isFullPageSignIn: true,
    });
</script>
