<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<?php $helper = $this->helper('Ey\Core\Helper\Data'); ?>
<?php $order = $helper->getOrder($block->getOrderId()); ?>
<?php $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');?>
<?php $checkoutHelper = $this->helper('Ey\Checkout\Helper\Data');?>
<?php $paybillHelper = $this->helper('MMS\Paybill\Helper\Data');?>
<?php $promotionHelper = $this->helper('MMS\Promotions\Helper\Data');?>
<?php $urlParamHelper = $this->helper('Ey\URLParams\Helper\Data');?>
<?php $muleSoftHelper = $this->helper('Ey\MuleSoft\Helper\Data');?>

<div class="success-wrapper">
	<div class="progress-success">
		<span><span>1</span> REVIEW & MAKE PAYMENT</span>
		<span class="active">CONFIRMATION</span>
	</div>
	<?php if ($promotionHelper->getPromotionAnchorForConfirmation($order)) {?>
	<div class="mms-promotion" style="padding-bottom: 10px; margin-top: -35px;">
	    <img src="<?php echo $promotionHelper->getPromotionAnchorForConfirmation($order)?>" />
	</div>
<?php }?>
	<div class="left-side">
		<div class="to-left">
			<div class="page-title-wrapper show">
				<h1 class="page-title">
					<span class="base" data-ui-id="page-title-wrapper">Thank you for your payment.</span>
				</h1>
			</div>
			<p class="email-note">You will receive a confirmation email with details about your payment.</p>
			<div class="order_details">
				<p class="heading">PAYMENT DETAILS</p>
				<?php
                if (strtolower($muleSoftHelper->getProductBrandFromOrder($order)) == 'nejm') {
                    $goToLatestIssue = $helper->getConfigValue('manageprofile/url/go_to_nejm_latest_issue');
                } else {
                    $goToLatestIssue = $helper->getConfigValue('manageprofile/url/go_to_latest_issue');
                }
				?>
				<?php  foreach ($order->getAllVisibleItems() as $item):  ?>
                    <?php $product = $helper->getProductInfo($item->getProductId()); ?>


                    <div class="single_item">
                        <p class="item-name"><?= $product['pdp_title']; ?></p>
                        <p class="item-price">
                            <?php /* if($product['special_price'] > 0): ?>
								<?= $priceHelper->currency($product['regular_price'], true, false); ?>
							<?php endif; */ ?>
                            <?= $priceHelper->currency($item->getPrice(), true, false); ?>
                        </p>

                    </div>
				<?php endforeach; ?>
				<p class="payment-method"><b>Payment Method:</b> <?= $paybillHelper->getPaymentTitle($block->getOrderId()); ?></p>
			</div>
		</div>
		<div class="to-left">
			<div class="order-amount-billing">
				<div class="order-amount">
					<p class="heading">PAYMENT AMOUNT</p>
					<?php $orderAmount = $helper->getOrderAmount($block->getOrderId()); ?>
					<p class="order-subtotal"><span>Subtotal:</span> <?= $priceHelper->currency($orderAmount['subtotal'], true, false); ?></p>
					<p class="order-tax"><span>Tax:</span> <?= $priceHelper->currency($orderAmount['tax'], true, false); ?></p>
					<p class="order-amount-paid"><span>Amount Paid:</span> <?= $priceHelper->currency($orderAmount['amount-paid'], true, false); ?></p>
				</div>
				<div class="order-billing">
					<p class="heading">BILLING INFORMATION</p>
					<?= $helper->getBillingInformation($block->getOrderId()); ?>
				</div>
			</div>

			<?php
				echo $this->getLayout()
				->createBlock('Magento\Cms\Block\Block')
				->setBlockId('question_section')
				->toHtml();
			?>

			<div class="buttons">
				<a href="<?php echo $goToLatestIssue?>" class="latest_issue">Go to Latest Issue</a>
			</div>

			<?php if($helper->getIsCustomerLoggedIn()): ?>
				<a href="/sales/order/print/order_id/<?php echo $helper->getIncrementOrder($block->getOrderId()); ?>" target="_blank" class="view_recept" style="margin-bottom: 0;">View Receipt</a>
			<?php else: ?>
				<?php  $setUpCurrentOrder = $helper->setCurrentOrder($order); ?>
				<?php if($setUpCurrentOrder){ ?>
					<a href="/sales/guest/print/order_id/<?php echo $order->getId(); ?>/" class="view_recept" target="_blank" style="margin-bottom: 0;">View Receipt</a>
				<?php } ?>
			<?php endif; ?>

			<a href= "<?php echo $checkoutHelper->getManageProfileURL(); ?>" class="manage_email">Visit My Account</a>
		</div>
	</div>
	<div class="to-right">
		<?php
			echo $this->getLayout()
			->createBlock('Magento\Cms\Block\Block')
			->setBlockId('promotional_area')
			->toHtml();
		?>
	</div>
</div>

<script>
    require(['jquery', "Ey_Checkout/js/success", 'Magento_Customer/js/customer-data', "domReady!"], function($, eySuccess, customerData) {
        eySuccess._init();
        customerData.invalidate(['cart']);
        $.cookie("product", null, { path: '/' });
    });
</script>

