<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko ifnot: isCustomerLoggedIn() -->

<!-- ko foreach: getRegion('before-login-form') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="ey_personal_information_step">
    <legend class="legend">
    	<span data-bind="i18n: 'Personal Information'"></span>
	</legend>
	<form class="form form-login" data-role="email-with-possible-login"
	      data-bind="submit:login"
	      method="post"
	      data-mage-init='{"validation":{}}'>
	    <fieldset id="customer-email-fieldset" class="fieldset" data-bind="blockLoader: isLoading">
	        <div class="field required">
	            <label class="label" for="customer-email">
	                <span data-bind="i18n: 'Email Address'"></span>
	            </label>
	                <div class="control _with-tooltip" data-bind="css: {'has-account' :  isPasswordVisible(),'has-tooltip':  !isPasswordVisible()}">	            
	                <div class="input-email-wrapper">
	                	<input class="input-text validate-length maximum-length-256 required-entry"
	                       type="email"
	                       data-bind="
	                            textInput: email,
	                            hasFocus: emailFocused,
	                            mageInit: {'mage/trim-input':{}}"
	                       name="username"
	                       data-validate="{required:true, 'validate-email':true}"
	                       id="customer-email" />
	                	<div class="login_button_notice" data-bind="fadeVisible: isPasswordVisible">
	                		We recognize an account associated with this email address. Please sign in to continue. 
	                	</div>
	                	<div class="login_email_notice" data-bind="fadeVisible: !isPasswordVisible()">
	                		You will use <span id="thisemail">this email</span> to sign in and access content.
	                	</div>
	                </div>
	                <div class="tooltip_button" data-bind="fadeVisible: !isPasswordVisible()">
	                	<!-- ko template: 'ui/form/element/helper/tooltip' --><!-- /ko -->
	                </div>
	                <div class="login_button" data-bind="fadeVisible: isPasswordVisible">
	                	<span class="akamai_login_button">SIGN IN</span>
	                </div>
	            </div>
	        </div>
	        <fieldset class="fieldset additional-login-fields">
	        	<!-- ko foreach: getRegion('additional-login-form-fields') -->
	            <!-- ko template: getTemplate() --><!-- /ko -->
	            <!-- /ko -->
	        </fieldset>
	
	        
	    </fieldset>
	</form>
	<!-- /ko -->
</div>