<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
/**  @var $block \Magento\Checkout\Block\Cart */
?>
<div class="cart-empty">
    <?= $block->getChildHtml('checkout_cart_empty_widget') ?>
    <p class="text-1"><?= /* @escapeNotVerified */ __('Your shopping cart is empty.') ?></p>
    <p class="text-2">
    	<span>Explore <a href="/nejm/subscribe/choice">NEJM subscription options</a></span>
    </p>
    <p class="text-2">
    	<span>Explore <a href="/catalyst/subscribe/choice">NEJM Catalyst subscription options</a></span>
    </p>    
    <?= $block->getChildHtml('shopping.cart.table.after') ?>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Checkout/js/empty-cart": {}
    }
}
</script>
