<!-- ko if: isActive() -->
<div class="renewal_rate_block" data-bind="visible: isVisible()">
    <legend class="legend">
        <span data-bind="i18n: 'Renewal Rate'"></span>
    </legend><br />
    <ul class="renewal-rates-list" data-bind="foreach: renewalRatesGroups">
        <li class="renewal-rates-item">
            <div class="renewal-rates-item-title field choice">
                <input type="radio"
                       class="radio"
                       data-bind="
                       attr: {'id': $parent.getId($data), 'name': $parent.getName($data)},
                       value: $parent.getValue($data),
                       click: $parent.setRenewalRates.bind($parent, $data),
                       checked: $parent.radioSelectedOptionValue"
                />
                <label data-bind="attr: {'for': $parent.getName($data)}" class="label"><span data-bind="text: $parent.getTitle($data)"></span></label>
            </div>
            <!-- ko if: $parent.isProfessionalCat() -->
            <div class="renewal-rates-item-profcat" data-bind="html: $parent.getProfCatTitle($data)"></div>
            <!-- /ko -->
            <div class="renewal-rates-item-price" data-bind="html: $parent.getPrice($data)"></div>
        </li>
    </ul>
</div>
<!-- /ko -->
