<div class="privacy-policy-checkout" style="display: none">
<div afterRender="moveElementRendered" data-bind="visible: isVisible()">
    <div data-bind="attr: {'id': getCmsBlockIdPrivacy($parents)}, html: getCmsBlockContentPrivacy($parents)"></div>
</div>
</div>