<?php
/** @var $block \MMS\CurrencyEngine\Block\Widget\CountryList */
?>
<?php
    $countryCollection = $block->getCountryCollection()-> toOptionArray();
    $countryCollection = $block->getCountryISO3Code($countryCollection);
?>

<form id="currency_engine_country" action="<?php echo $block->getSwitchUrl() ?>" method="post">
    <div>
        <?php if (count($countryCollection) > 0): ?>
            <select name="country" id="country" class="country-select">
                <?php foreach($countryCollection as $_country): ?>
                    <?php if (strlen($_country['value']) > 0): ?>
                        <option <?php if($_country['iso3_code'] == $block->getDefaultCountry()) echo "selected";?> value="<?php echo $_country['iso3_code'] ?>">
                        <?php echo $_country['label'] ?>
                        </option>
                    <?php endif; ?>
                <?php endforeach; ?>
            </select>
        <?php endif; ?>
    </div>
</form>
<script type="text/javascript">
    require(["jquery"],function($) {
        $('#country').change(function() {
            let isExclusiveAgent = "<?php echo ($block->isExclusiveAgent() === true) ? '1' : '0'; ?>";
            if (isExclusiveAgent === '1') {
                if ($(this).val() === 'JPN') {
                    window.location = '<?php echo $block->getUrl('nejm/subscribe/japan') ?>';
                    return true;
                } else if ($(this).val() === 'KOR') {
                    window.location = '<?php echo $block->getUrl('nejm/subscribe/south-korea') ?>';
                    return true;
                }
            }
            $('#currency_engine_country').submit();
        });
    });
</script>
