<?php
/** @var $block \MMS\CurrencyEngine\Block\Widget\ProfessionalCategory */
?>
<?php
$professionalCategoryList = $block->getFilteredProfessionalCategory();
?>
<?php if (count($professionalCategoryList) > 0) : ?>
    <form id="currency_engine_professional_category" action="<?php echo $block->getSwitchUrl() ?>" method="post">
        <div>
            <select name="professionalcategory" id="professionalcategory" class="country-select professional-category-list">
                <?php foreach ($professionalCategoryList as $_professionalCategory) : ?>
                    <?php
                    $selected = '';
                    if ($_professionalCategory['value'] == $block->getDefaultProfessionalCategory()) {
                        $selected = ' selected ';
                    }
                    ?>
                    <option value="<?= $_professionalCategory['value'] ?>" <?php echo $selected; ?>>
                        <?php echo $_professionalCategory['label'] ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </div>
    </form>
    <script type="text/javascript">
        require(["jquery"],function($) {
            $('#professionalcategory').change(function() {
                $.cookie('X-Magento-Vary', '', { expires: -1 });
                $('#currency_engine_professional_category').submit();
            });
        });
    </script>
<?php endif; ?>
