<input class="input-text password" type="password" 
	data-bind="
    value: value,
    valueUpdate: 'keyup',
    hasFocus: focused,
    attr: {
        name: inputName,
        'aria-required': required,
        'aria-invalid': error() ? true : 'false',
        disabled: disabled,
        'aria-describedby': getDescriptionId(),
    }"
    id="ba_password"
/>
<div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
    <div id="password-strength-meter" class="password-strength-meter">
        Password Strength:
        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
            No Password
        </span>
    </div>
</div>