<!-- ko if: isEnabled() -->
<div class="actions-toolbar" data-bind="visible: isVisible()">
    <div class="primary">
        <button class="action primary checkout btn-placeorder"
                type="submit"
                data-role="opc-continue"
                data-bind="click: placeOrder,attr: {title: placeOrderLabel()}">
            <span data-bind="text: placeOrderLabel()"></span>
        </button>
    </div>
</div>
<!-- /ko -->
