<select class="select" name="pi_primaryspecialty"  id="pi_primaryspecialty"
		data-validate="{required:true}"
		data-bind="
				attr: {
					name: inputName,
					'aria-describedby': getDescriptionId(),
					'aria-required': required,
					'aria-invalid': error() ? true : 'false',
					placeholder: placeholder
				},
				hasFocus: focused,
				value: value"
>
	<option value="">Please select a primary specialty</option>
	<option value="A">Allergy</option>
	<option value="AI">Allergy & Immunology</option>
	<option value="IG">Immunology</option>
	<option value="ACA">Adult Cardiothoracic Anesthesiology</option>
	<option value="AN">Anesthesiology</option>
	<option value="CCA">Critical Care Medicine (Anesthesiology)</option>
	<option value="CD">Cardiovascular Disease</option>
	<option value="IC">Interventional Cardiology</option>
	<option value="ICE">Clinical Cardiac Electrophysiology</option>
	<option value="NC">Nuclear Cardiology</option>
	<option value="PDC">Pediatric Cardiology</option>
	<option value="CPP">Pediatric/Psych/Child Adolescent Psych</option>
	<option value="EFM">Emergency Medicine/Family Medicine</option>
	<option value="EMP">Pediatrics/Emergency Medicine</option>
	<option value="FPP">Psychiatry/Family Medicine</option>
	<option value="IEC">Internal/Emergency/Critical Care</option>
	<option value="IFP">IM Family Practice</option>
	<option value="IPM">Internal Med Preventive Medicine</option>
	<option value="MEM">Internal Med Emergency Medicine</option>
	<option value="MPM">IM Physical Medicine Rehabilitation</option>
	<option value="NRN">Neurology/Diagnostic Rad/Neuro Rad</option>
	<option value="PDM">Pediatrics/Dermatology</option>
	<option value="PMG">Pediatrics/Medical Genetics</option>
	<option value="PPM">Pediatrics/Physical Medicine & Rehabilitation</option>
	<option value="PYN">Psychiatry/Neurology</option>
	<option value="D">Dermatology</option>
	<option value="DDL">Clinical & Lab Dermatological Immunology</option>
	<option value="DMP">Dermatopathology</option>
	<option value="PDD">Pediatric Dermatology</option>
	<option value="PRD">Procedural Dermatology</option>
	<option value="EM">Emergency Medicine</option>
	<option value="ESM">Emergency Sports Medicine</option>
	<option value="ETX">Medical Toxicology (Emergency Medicine)</option>
	<option value="HPE">Hospice & Palliative Medicine (Emergency Medicine)</option>
	<option value="PE">Pediatric Emergency Medicine (Emergency Medicine)</option>
	<option value="UCM">Urgent Care Medicine</option>
	<option value="UME">Undersea & Hyperbaric Medicine (Emergency Medicine)</option>
	<option value="DIA">Diabetes</option>
	<option value="END">Endocrinology,Diabetes,Metabolism</option>
	<option value="AMF">Adolescent Medicine (Family Medicine/General Practice)</option>
	<option value="FM">Family Medicine</option>
	<option value="FSM">Sports Medicine (Family Medicine/General Practice)</option>
	<option value="GP">General Practice</option>
	<option value="HPF">Hospice & Palliative Medicine (Family Medicine/General Practice)</option>
	<option value="FPG">Geriatric Medicine,Family Practice</option>
	<option value="IMG">Geriatric Medicine,Internal Medicine</option>
	<option value="PYG">Geriatric Psychiatry</option>
	<option value="AMI">Adolescent Medicine (Internal Medicine)</option>
	<option value="CCM">Critical Care Medicine (Internal Medicine)</option>
	<option value="GE">Gastroenterology</option>
	<option value="HEM">Hematology (Internal Medicine)</option>
	<option value="HEP">Hepatology</option>
	<option value="HPI">Hospice & Palliative Medicine (Internal Medicine)</option>
	<option value="ID">Infectious Disease</option>
	<option value="ILI">Clinical & Laboratory Immunology (Internal Medicine)</option>
	<option value="IM">Internal Medicine</option>
	<option value="ISM">Sports Medicine (Internal Medicine)</option>
	<option value="NEP">Nephrology</option>
	<option value="NTR">Nutrition</option>
	<option value="PCC">Pulmonary Critical Care Medicine</option>
	<option value="PUD">Pulmonary Disease</option>
	<option value="RHU">Rheumatology</option>
	<option value="SMI">Sleep Medicine (Internal Medicine)</option>
	<option value="THP">Transplant Hepatology</option>
	<option value="VM">Vascular Medicine</option>
	<option value="CBG">Clinical Biochemical Genetics</option>
	<option value="CCG">Clinical Cytogenetics</option>
	<option value="CG">Clinical Genetics</option>
	<option value="CMG">Clinical Molecular Genetics</option>
	<option value="MG">Medical Genetics</option>
	<option value="MGG">Molecular Genetic Pathology (Medical Genetics)</option>
	<option value="ES">Endovascular Surgical Neuroradiology (Neurological Surgery)</option>
	<option value="NS">Neurological Surgery</option>
	<option value="NSP">Pediatric Surgery (Neurological Surgery)</option>
	<option value="CHN">Child Neurology</option>
	<option value="CN">Clinical Neurophysiology</option>
	<option value="HPN">Hospice & Palliative Medicine (Neurology)</option>
	<option value="N">Neurology</option>
	<option value="NDN">Neurodevelopmental Disabilities (Neurology)</option>
	<option value="NMN">Neuromuscular Medicine (Neurology)</option>
	<option value="SMN">Sleep Medicine (Neurology)</option>
	<option value="VN">Vascular Neurology</option>
	<option value="GYN">Gynecology</option>
	<option value="HPO">Hospice & Palliative Medicine (Obstetrics & Gynecology)</option>
	<option value="MFM">Maternal & Fetal Medicine</option>
	<option value="OBG">Obstetrics & Gynecology</option>
	<option value="OBS">Obstetrics</option>
	<option value="OCC">Critical Care Medicine (Obstetrics & Gynecology)</option>
	<option value="REN">Reproductive Endocrinology & Infertility</option>
	<option value="GO">Gynecological Oncology</option>
	<option value="HO">Hematology/Oncology</option>
	<option value="OMO">Musculoskeletal Oncology</option>
	<option value="ON">Medical Oncology</option>
	<option value="PHO">Pediatric Hematology/Oncology</option>
	<option value="SO">Surgical Oncology</option>
	<option value="OPH">Ophthalmology</option>
	<option value="PO">Pediatric Ophthalmology</option>
	<option value="HSO">Hand Surgery Orthopedics</option>
	<option value="OAR">Adult Reconstructive Orthopedics</option>
	<option value="OFA">Foot & Ankle,Orthopedics</option>
	<option value="OP">Pediatric Orthopedics</option>
	<option value="ORS">Orthopedic Surgery</option>
	<option value="OSM">Sports Medicine (Orthopedics)</option>
	<option value="OSS">Orthopedic Surgery of the Spine</option>
	<option value="OTR">Orthopedic Trauma</option>
	<option value="ADM">Addiction Medicine</option>
	<option value="APM">Pain Medicine (Anesthesiology)</option>
	<option value="EP">Epidemiology</option>
	<option value="HOS">Hospitalist</option>
	<option value="LM">Legal Medicine</option>
	<option value="MDM">Medical Management</option>
	<option value="NM">Nuclear Medicine</option>
	<option value="OMM">Osteopathic Manipulative Medicine</option>
	<option value="OS">Other Specialty</option>
	<option value="PA">Clinical Pharmacology</option>
	<option value="PHL">Phlebology</option>
	<option value="PHM">Pharmaceutical Medicine</option>
	<option value="PLM">Palliative Medicine</option>
	<option value="PMM">Pain Medicine</option>
	<option value="PMN">Pain Medicine Neurology</option>
	<option value="PMP">Pain Medicine Physical Medicine & Rehabilitation</option>
	<option value="SME">Sleep Medicine</option>
	<option value="US">Unspecified</option>
	<option value="NO">Neurotology/Otolaryngology</option>
	<option value="OTO">Otolaryngology</option>
	<option value="PDO">Pediatric Otolaryngology</option>
	<option value="PSH">Plastic Surgery within Head & Neck (Otolaryngology)</option>
	<option value="SMO">Sleep Medicine (Otolaryngology)</option>
	<option value="ATP">Anatomic Pathology</option>
	<option value="BBK">Blood Banking/Transfusion Medicine</option>
	<option value="CLP">Clinical Pathology</option>
	<option value="FOP">Forensic Pathology</option>
	<option value="HMP">Hematology (Pathology)</option>
	<option value="MGP">Molecular Genetic Pathology (Pathology)</option>
	<option value="MM">Medical Microbiology</option>
	<option value="NP">Neuropathology</option>
	<option value="PCH">Chemical Pathology</option>
	<option value="PCP">Cytopathology</option>
	<option value="PP">Pediatric Pathology</option>
	<option value="PTH">Anatomic/Clinical Pathology</option>
	<option value="SP">Selective Pathology</option>
	<option value="ADL">Adolescent Medicine (Pediatrics)</option>
	<option value="CAP">Child Abuse Pediatrics</option>
	<option value="CCP">Pediatric Critical Care Medicine</option>
	<option value="DBP">Developmental-Behavioral Pediatrics</option>
	<option value="NDP">Neurodevelopmental Disabilities (Pediatrics)</option>
	<option value="NPM">Neonatal-Perinatal Medicine</option>
	<option value="PAN">Pediatric Anesthesiology</option>
	<option value="PD">Pediatrics</option>
	<option value="PDA">Pediatric Allergy</option>
	<option value="PDE">Pediatric Endocrinology</option>
	<option value="PDI">Pediatric Infectious Diseases</option>
	<option value="PDP">Pediatric Pulmonology</option>
	<option value="PDT">Medical Toxicology (Pediatrics)</option>
	<option value="PEM">Pediatric Emergency Medicine (Pediatrics)</option>
	<option value="PG">Pediatric Gastroenterology</option>
	<option value="PLI">Clinical & Laboratory Immunology (Pediatrics)</option>
	<option value="PN">Pediatric Nephrology</option>
	<option value="PPR">Pediatric Rheumatology</option>
	<option value="PSM">Sports Medicine Pediatrics</option>
	<option value="PTP">Pediatric Transplant Hepatology</option>
	<option value="SMP">Sleep Medicine (Pediatrics)</option>
	<option value="HPM">Hospice & Palliative Medicine (Physical Medicine & Rehabilitation)</option>
	<option value="HPR">Hospice & Palliative Medicine (Physical Medicine & Rehabilitation)</option>
	<option value="NMP">Neuromuscular Medicine (Physical Medicine & Rehabilitation)</option>
	<option value="PM">Physical Medicine & Rehabilitation</option>
	<option value="PRS">Sports Medicine Physical Medicine & Rehabilitation</option>
	<option value="RPM">Pediatric Rehabilitation Medicine</option>
	<option value="SCI">Spinal Cord Injury</option>
	<option value="CFS">Craniofacial Surgery</option>
	<option value="FPS">Facial Plastic Surgery</option>
	<option value="HSP">Hand Surgery Plastic</option>
	<option value="PS">Plastic Surgery</option>
	<option value="PSI">Plastic Surgery - Integrated</option>
	<option value="PSP">Plastic Surgery within Head & Neck (Plastic Surgery)</option>
	<option value="AM">Aerospace Medicine</option>
	<option value="GPM">General Preventive Medicine</option>
	<option value="OM">Occupational Medicine</option>
	<option value="PHP">Public Health & Gen Preventive Med</option>
	<option value="PTX">Medical Toxicology (Preventive Medicine)</option>
	<option value="UM">Undersea & Hyperbaric Medicine (Preventive Medicine)</option>
	<option value="ADP">Addiction Psychiatry</option>
	<option value="CHP">Child & Adolescent Psychiatry</option>
	<option value="NUP">Neuropsychiatry</option>
	<option value="P">Psychiatry</option>
	<option value="PFP">Forensic Psychiatry</option>
	<option value="PPN">Pain Medicine Psychiatry</option>
	<option value="PYA">Psychoanalysis</option>
	<option value="PYM">Psychosomatic Medicine</option>
	<option value="AR">Abdominal Radiology</option>
	<option value="CTR">Cardiothoracic Radiology</option>
	<option value="DR">Diagnostic Radiology</option>
	<option value="HPD">Hospice & Palliative Medicine (Radiology)</option>
	<option value="MSR">Musculoskeletal Radiology</option>
	<option value="NR">Nuclear Radiology</option>
	<option value="PDR">Pediatric Radiology</option>
	<option value="R">Radiology</option>
	<option value="RNR">Neuroradiology</option>
	<option value="RO">Radiation Oncology</option>
	<option value="RP">Radiological Physics</option>
	<option value="VIR">Vascular & Interventional Radiology</option>
	<option value="AS">Abdominal Surgery</option>
	<option value="CCS">Surgical Critical Care</option>
	<option value="CHS">Congenital Cardiac Surgery</option>
	<option value="CRS">Colon & Rectal Surgery</option>
	<option value="CS">Cosmetic Surgery</option>
	<option value="DS">Dermatologic Surgery</option>
	<option value="GS">General Surgery</option>
	<option value="HNS">Head & Neck Surgery</option>
	<option value="HS">Hand Surgery</option>
	<option value="HSS">Hand Surgery General</option>
	<option value="OMF">Oral & Maxillofacial Surgery</option>
	<option value="PCS">Pediatric Cardiothoracic Surgery</option>
	<option value="PDS">Pediatric Surgery (Surgery)</option>
	<option value="PRO">Proctology</option>
	<option value="TRS">Trauma Surgery</option>
	<option value="TS">Thoracic Surgery</option>
	<option value="TSI">Thoracic Surgery - Integrated</option>
	<option value="TTS">Transplant Surgery</option>
	<option value="VS">Vascular Surgery</option>
	<option value="VSI">Vascular Surgery - Integrated</option>
	<option value="U">Urology</option>
	<option value="UP">Pediatric Urology</option>
	<option value="ACC">Anesthesiology Critical Care Medicine</option>
	<option value="AHF">Advanced Heart Failure & Transplant Cardiology</option>
	<option value="ALI">Clinical Laboratory Immunology</option>
	<option value="ASO">Advanced Surgical Oncology</option>
	<option value="BIN">Brain Injury Medicine (Neurology)</option>
	<option value="BIP">Brain Injury Medicine (Physical Medicine & Rehabilitation)</option>
	<option value="CCE">Critical Care Medicine (Emergency Medicine)</option>
	<option value="CHD">Adult Congenital Heart Disease</option>
	<option value="CID">Clinical Informatics (Pediatrics)</option>
	<option value="CIE">Clinical Informatics (Emergency Medicine)</option>
	<option value="CIF">Clinical Informatics (Family Medicine/General Practice)</option>
	<option value="CIM">Clinical Informatics (Preventive Medicine)</option>
	<option value="CIP">Clinical Informatics (Pathology)</option>
	<option value="CLI">Clinical Informatics (Internal Medicine)</option>
	<option value="EMS">Emergency Medical Services</option>
	<option value="ENR">Endovascular Surgical Neuroradiology (Neurology)</option>
	<option value="EPL">Epilepsy</option>
	<option value="ESN">Endovascular Surgical Neuroradiology (Radiology)</option>
	<option value="FMP">Family Medicine/Preventive Medicine</option>
	<option value="FP">Family Practice</option>
	<option value="FPR">Female Pelvic Med & Reconstruct Surg</option>
	<option value="HPA">Hospice & Palliative Medicine (Anesthesiology)</option>
	<option value="HPP">Hospice & Palliative Medicine (Pediatrics)</option>
	<option value="IAN">Clinical Informatics (Anesthesiology)</option>
	<option value="IMA">Internal Medicine/Anesthesiology</option>
	<option value="IMD">Internal Medicine/Dermatology</option>
	<option value="IRI">Interventional Radiology - Integrated</option>
	<option value="MBG">Medical Biochemical Genetics</option>
	<option value="MDG">Internal Medicine/Medical Genetics</option>
	<option value="MN">Internal Medicine Neurology</option>
	<option value="MP">Internal Medicine Psychiatry</option>
	<option value="MPD">Internal Medicine Pediatrics</option>
	<option value="OAN">Obstetric Anesthesiology</option>
	<option value="OPR">Ophthalmological Plastic & Reconstructive Surg</option>
	<option value="PDN">Pediatrics/Anesthesiology</option>
	<option value="PME">Pain Management</option>
	<option value="PSO">Plastic Surgery within Head & Neck (Otolaryngology)</option>
	<option value="RAA">Regional Anesthesiology & Acute Pain Med</option>
	<option value="SMA">Sleep Medicine (Anesthesiology)</option>
	<option value="TY">Transitional Year</option>
	<option value="UPR">Female Pelvic Medicine & Reconstructive Surg</option>
</select>