<select class="select" name="pi_role" id="pi_role"
		data-validate="{required:true}"
		data-bind="
				attr: {
					'aria-describedby': getDescriptionId(),
					'aria-required': required,
					'aria-invalid': error() ? true : 'false',
					placeholder: placeholder
				},
				hasFocus: focused,
				value: value"
>
	<option value="">Please select your specialty</option>
	<option value="CEO">CEO/President/Board Member</option>
	<option value="CSU">C-Suite</option>
	<option value="VP">VP/Director</option>
	<option value="MGR">Manager</option>
	<option value="CON">Consultant</option>
	<option value="BEO">Business Executive – Other</option>
	<option value="CMO">Chief Medical Officer</option>
	<option value="VMA">VP of Medical Affairs</option>
	<option value="CCS">Chief or Chair Service/Department (i.e., Orthopedics, Cardiology, etc.)</option>
	<option value="AC">Associate Chief or Vice of Chair Service/Department</option>
	<option value="CSL">Chief of Service Line (i.e., Patient safety, Quality assurance, etc.)</option>
	<option value="VSL">VP, Director, Manager of Service Line</option>
	<option value="DMS">Dean of Medical School</option>
	<option value="PRF">Program/Residency/Fellowship Director</option>
	<option value="CLI">Clinician</option>
	<option value="RSD">Resident</option>
	<option value="STU">Student</option>
	<option value="EDU">Educator</option>
	<option value="RES">Researcher</option>
	<option value="OTH">Other</option>
</select>