<select class="select" name="pi_suffix" id="pi_suffix"
		data-validate="{required:true}"
		data-bind="
				attr: {
					'aria-describedby': getDescriptionId(),
					'aria-required': required,
					'aria-invalid': error() ? true : 'false',
					placeholder: placeholder
				},
				hasFocus: focused,
				value: value"
>
	<option value="">Please select a suffix</option>
	<option value="MD">MD</option>
	<option value="DO">DO</option>
	<option value="MBBS">MBBS</option>
	<option value="MD/PhD">MD/PhD</option>
	<option value="PhD">PhD</option>
	<option value="MPH">MPH</option>
	<option value="PA-C">PA-C</option>
	<option value="NP/ApN">NP/ApN</option>
	<option value="RN">RN</option>
	<option value="Other">Other</option>
	<option value="None">None</option>
</select>