/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

 @font-face {
    font-family: 'lyondisplay medium web';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/lyon-font/LyonDisplay-Medium-Web.woff2') format('woff2'), url('../fonts/lyon-font/LyonDisplay-Medium-Web.woff') format('woff');
}

@font-face {
    font-family: 'lyontext regular web';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lyon-font/LyonText-Regular-Web.woff2') format('woff2'), url('../fonts/lyon-font/LyonText-Regular-Web.woff') format('woff');
}

@font-face {
    font-family: "ff-scala-sans-web-pro";
    src: url("https://use.typekit.net/af/183e60/00000000000000003b9b1f59/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/183e60/00000000000000003b9b1f59/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/183e60/00000000000000003b9b1f59/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: "ff-scala-sans-web-pro";
    src: url("https://use.typekit.net/af/36703d/00000000000000003b9b1f5a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/36703d/00000000000000003b9b1f5a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/36703d/00000000000000003b9b1f5a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
  }
  @font-face {
    font-family: "ff-scala-sans-web-pro";
    src: url("https://use.typekit.net/af/33161f/00000000000000003b9b1f5b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/33161f/00000000000000003b9b1f5b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/33161f/00000000000000003b9b1f5b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
  }
  @font-face {
    font-family: "ff-scala-sans-web-pro";
    src: url("https://use.typekit.net/af/0f7856/00000000000000003b9b1f5e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/0f7856/00000000000000003b9b1f5e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/0f7856/00000000000000003b9b1f5e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
  }

h1 {
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'lyondisplay medium web', 'lyontext regular web';
    font-size: 44px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'lyondisplay medium web', 'lyontext regular web';
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'lyondisplay medium web', 'lyontext regular web';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 0;
}

h4 {
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'lyondisplay medium web', 'lyontext regular web';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 0;
}

h5 {
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'lyondisplay medium web', 'lyontext regular web';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 0;
}

h6 {
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'lyondisplay medium web', 'lyontext regular web';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 0;
}

p {
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'lyondisplay medium web', 'lyontext regular web';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
}

pre {
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    color: #111;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace,'lyondisplay medium web', 'lyontext regular web';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;
    padding: 0;
}

.cms-content-important {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'lyondisplay medium web', 'lyontext regular web';
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.1;
    margin: 0 0 35px -20px;
    padding: 20px;
}
