<if args="!quoteIsVirtual()">
    <div class="ey_billing_address_step">
        <legend class="legend">
            <span data-bind="i18n: 'Billing Address'"></span>
        </legend>
        <br />
        <div class="checkout-billing-address">
            <div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">
                <input type="checkbox" name="billing-address-same-as-shipping"
                       data-bind="checked: isAddressSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping'}"/>
                <label data-bind="attr: {for: 'billing-address-same-as-shipping'}">
                    <span data-bind="i18n: 'This address is also my billing address'"></span>
                </label>
            </div>
            <fieldset class="fieldset" data-bind="visible: !isAddressDetailsVisible()">
                <each args="getRegion('billing-address-list')" render="" />
                <div data-bind="fadeVisible: isAddressFormVisible">
                    <render args="formTemplate"/>
                </div>
                <render args="actionsTemplate"/>
            </fieldset>
        </div>
    </div>
</if>
