
<!-- ko if: !quoteIsVirtual() -->
<li id="shipping" class="checkout-shipping-address">
    <if args="visibleAccountInformation">
        <each args="getRegion('customer-email')" render="" />
    </if>
    <div class="checkout-address-custom">
    <!-- ko if: isBillingBeforeShipping() -->
    <!-- Inline Billing address form -->
    <!-- ko foreach: getRegion('billing-address') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->

    <div class="shipping-address-same-as-billing-block field choice" data-bind="visible: !isPayBillCheckout()">
        <label class="container" data-bind="attr: {for: 'shipping-address-same-as-billing'}">
            <input type="checkbox" name="shipping-address-same-as-billing"
                   data-bind="checked: isAddressSameAsBilling, attr: {id: 'shipping-address-same-as-billing'}"/>
            <span class="checkmark"><img data-bind="attr: { src: require.toUrl('images/checkout_checkbox.png') }" style="display:none"></span>
            <span data-bind="i18n: 'This address is also my mailing address'"></span>
        </label>
    </div>

    <div class="checkout-shipping-address-custom" data-bind="visible:!isAddressSameAsBilling() && !isPayBillCheckout()">
        <each args="getRegion('before-shipping-address')" render="" />
        <div class="step-title" data-role="title">
            <i class="fa shipping_address_title"></i>
            <span data-bind="i18n: 'Mailing Address'"></span>
        </div>
        <div id="checkout-step-shipping"
             class="step-content"
             data-role="content">
            <each args="getRegion('address-list')" render="" />
            <each args="getRegion('address-list-additional-addresses')" render="" />

            <!-- Address form pop up -->
            <if args="!isFormInline">
                <button type="button"
                        class="action action-show-popup"
                        click="showFormPopUp"
                        visible="!isNewAddressAdded()">
                    <span translate="'New Address'" />
                </button>
                <div id="opc-new-shipping-address"
                     visible="isFormPopUpVisible()"
                     render="shippingFormTemplate" />
            </if>

            <each args="getRegion('before-form')" render="" />

            <!-- Inline address form -->
            <render if="isFormInline" args="shippingFormTemplate" />
        </div>
        <each args="getRegion('after-shipping-address')" render="" />
    </div>
    <!-- /ko -->
    <!-- ko ifnot: isBillingBeforeShipping() -->
    <each args="getRegion('before-shipping-address')" render="" />
    <div class="step-title" data-role="title">
        <i class="fa shipping_address_title"></i>
        <span data-bind="i18n: 'Mailing Address'"></span>
    </div>
    <div id="checkout-step-shipping"
         class="step-content"
         data-role="content">
        <each args="getRegion('address-list')" render="" />
        <each args="getRegion('address-list-additional-addresses')" render="" />

        <!-- Address form pop up -->
        <if args="!isFormInline">
            <button type="button"
                    class="action action-show-popup"
                    click="showFormPopUp"
                    visible="!isNewAddressAdded()">
                <span translate="'New Address'" />
            </button>
            <div id="opc-new-shipping-address"
                 visible="isFormPopUpVisible()"
                 render="shippingFormTemplate" />
        </if>

        <each args="getRegion('before-form')" render="" />

        <!-- Inline address form -->
        <render if="isFormInline" args="shippingFormTemplate" />
        <!-- Inline Billing address form -->
        <!-- ko foreach: getRegion('billing-address') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
    <each args="getRegion('after-shipping-address')" render="" />
    <!-- /ko -->
    </div>
    <br class="clearfix" />

</li>
<!-- ko ifnot: shouldHideShipping() -->
<li id="opc-shipping_method"
    class="checkout-shipping-method"
    data-bind="fadeVisible: visible(), blockLoader: isLoading"
    role="presentation">
    <each args="getRegion('before-shipping-method')" render="" />
    <div class="checkout-shipping-method">

        <!-- ko ifnot: shouldHideShipping() -->
        <div class="step-title" data-role="title">
            <i class="fa shipping_methods_title"></i>
            <span data-bind="i18n: 'Shipping Methods'"></span>
        </div>
        <!-- /ko -->

        <each args="getRegion('before-shipping-method-form')" render="" />

        <div id="checkout-step-shipping_method"
             class="step-content"
             data-role="content"
             role="tabpanel"
             aria-hidden="false">
            <form id="co-shipping-method-form"
                  class="form methods-shipping"
                  if="rates().length"
                  submit="setShippingInformation"
                  novalidate="novalidate">

                <!-- ko ifnot: shouldHideShipping() -->
                <render args="shippingMethodListTemplate"/>
                <!-- /ko -->

                <div id="onepage-checkout-shipping-method-additional-load">
                    <each args="getRegion('shippingAdditional')" render="" />
                </div>
                <div role="alert"
                     if="errorValidationMessage().length"
                     class="message notice">
                    <span text="errorValidationMessage()" />
                </div>
                <div class="actions-toolbar" id="shipping-method-buttons-container">
                    <div class="primary">
                        <button data-role="opc-continue" type="submit" class="button action continue primary">
                            <span translate="'Next'" />
                        </button>
                    </div>
                </div>
            </form>
            <div class="no-quotes-block"
                 ifnot="rates().length > 0"
                 translate="'Please enter your state and post code to show shipping options.'" />
        </div>
    </div>
    <each args="getRegion('after-shipping-method')" render="" />
</li>
<!-- /ko -->
<!-- /ko -->
