header.page-header {
    z-index: 2;
}
main#maincontent {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}
.column.main, .page-layout-1column.page-with-filter .column.main {
    margin-top: 0px;
    padding-top: 0px !important;
    padding-bottom: 80px;
}
.page-title-wrapper {
    display: none;
}
.page-products .products-grid .product-item {
    margin: 0px;
    padding: 0px;
    width: calc(50% - 30px);
    display: block;
    float: left;
    margin-right: 60px;
}
.page-products.page-layout-1column .products-grid .product-item {
    width: calc(50% - 30px);
}
.page-products .products-grid .product-items {
    max-width: 920px;
    margin: auto;
}
.page-products .products-grid .product-item:nth-child(2n) {
    margin-right: 0px;
}
.product-square {
    width: 100%;
    border: 1px solid #000;
    padding: 0px;
    position: relative;
}
.product-square a.product-item-link {
    display: block;
    text-align: left;
    color: #000;
    font-size: 32px;
    font-weight: bold;
    margin: 25px auto 0px;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 25px;
}
.ps-price .price {
    color: #ff3300;
    font-size: 22px;
}
.ps-price {
    text-align: left;
    margin: 15px 25px 10px;
    min-height: 60px;
}
p.ps-less-per {
    text-align: center;
    font-size: 12px;
    margin-bottom: 25px;
    color: #000;
}
a.action.more {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    text-decoration: underline;
    margin-top: 15px;
    float: right;
    width: calc(100% - 197px);
    line-height: 50px;
}
.product-square-description {
    margin-top: 20px;
    font-size: 14px;
    padding: 0px 25px;
    color: #000;
}
.products.wrapper.grid.products-grid {
    margin-bottom: 0px;
    clear: both;
    overflow: hidden;
    margin-top: 0px
}
.badge_wrapper {
    background: #FF3300;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: calc(100% - 1px);
}
a.product.photo.product-item-photo {
    display: block;
    line-height: 0px;
}
span.ps-months {
    font-size: 20px;
    color: #FF3300;
    float:right;
}
span.product-image-container {
    width: 100% !important;
}
a.product.photo.product-item-photo span,
a.product.photo.product-item-photo img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px !important;
}
.product-item .price-box {
    margin: 0px;
    text-align: left;
    display: inline;
}
.product-item .price-box .price {
    color: #ff3300;
    font-size: 32px;
    font-weight: 400;
    line-height:40px
}

span.save_wrapper {
    display: inline-block;
    padding-left: 20px;
    width: 87px;
    color: #FF3300;
    font-size: 16px;
    line-height: 16px;
    font-style: italic;
}
.ps-price .price-label {
    display: none;
}

.ps-price .old-price {
    float: left;
    margin: 0px;
}

.ps-price .old-price .price {
    color: #000;
    font-size: 24px;
    text-decoration: line-through;
    line-height: 40px;
    padding-right: 5px;
}
.buy_wrapper{
	color: #757575;
    font-size: 12px;
    padding: 0px 25px;
    text-align: left;
    margin-bottom: 0px;
}
.ps-buy-subscription {
    margin: 0px 25px 30px 25px;
    text-align: left;
    overflow: hidden;
}
.ps-buy-subscription form {
    float: left;
    width: 197px;
    height: 50px;
    margin-top: 15px;
}
.ps-buy-subscription .action.primary {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    display: block;
    width: 197px;
    height: 50px;
    background: #FFD833;
    line-height: 50px;
    border: none;
    padding: 0px;
    text-transform: uppercase;
}
.ps-buy-subscription .action.primary span {
    display: none;
}
.ps-buy-subscription .action.primary:after {
	content: "SUBSCRIBE NOW";
}
.ps-buy-subscription {
    margin: 0px 25px 30px 25px;
    text-align: left;
    overflow: hidden;
}
a.action.more.subscribe {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    display: block;
    float: left;
    width: 197px;
    height: 50px;
    background: #FFD833;
    line-height: 50px;
}
.cat_title {
    text-align: center;
    font-size: 18px;
}
.category-cms [data-content-type=row] {
	margin: 0px !important;
	padding: 0px !important;
	max-width: 100%;
}
.category-cms [data-content-type='row'][data-appearance='contained'] [data-element='inner'] {
    margin: 0px !important;
    padding: 0px !important;
}
.top-row-free-gift1{
    background: #F9F3D9;
} 
.top-row-free-gift1 .pagebuilder-column-group {
    width: 520px;
    margin: auto;
    display: table !important;
}
.top-row-free-gift1 .pagebuilder-column-group img {
    width: 93px !important;
    display:block
}
p.fg_text {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    line-height: 24px;
    margin-bottom: 10px;
}
p.fg_stext {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 0px;
    line-height: 14px;
}
.free_gift_block {
    width: 428px;
}
.top-row-free-gift1 .pagebuilder-column-group .pagebuilder-column {
    padding: 10px 0px !important;
    margin: 0px !important;
    vertical-align: middle !important;
    display: table-cell !important;
}
.cat_title p {
    margin: 0px;
    color: #000000;
}

.cat_title {
    margin: 30px 0px !important;
}
.category-cms {
    margin-bottom: 0px !important;
}
.sections.nav-sections {
    display: none;
}
.product-square-description ul li {
    line-height: 20px;
    margin-bottom: 3px;
}
.category-description [data-content-type='row'],
.category-description [data-content-type='row'][data-appearance='contained'] [data-element='inner'] {
    margin: 0px !important;
    padding: 0px !important;
}
.category-description hr {
    margin: 0px !important;
}
.category-description .pagebuilder-column-group {
    width: 240px;
    margin: auto;
    display: table;
}
.category-description .pagebuilder-column-group .pagebuilder-column {
    display: table-cell !important;
    padding: 0px !important;
    vertical-align: middle;
    width: auto !important;
}
.category-description .pagebuilder-column-group .pagebuilder-column img {
    width: 25px;
    margin-right: 15px;
    display: block;
}
.category-description .pagebuilder-column-group .pagebuilder-column p {
    margin: 0px;
    color: #000;
    font-size: 14px;
    line-height: 30px;
}

.category-description {
    max-width: 920px;
    margin: auto;
}
.satis-text-bottom p {
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    margin-top: 10px;
}
.product-square-description ul {
    padding-left: 13px;
}

.page-products .toolbar .limiter {
    display: none !important;
}

@media only screen and (max-width: 930px){
	.page-products .products-grid .product-items {
		max-width: 710px;
    }
    .cat_title {
		font-size: 16px;
    }
    .product-square a.product-item-link {
		font-size: 24px;
    }
    span.ps-months {
		font-size: 15px;
    }
    .product-item .price-box .price {
        font-size: 26px;
    }
    .ps-price .old-price .price {
		font-size: 20px;
    }
    span.save_wrapper {
		font-size: 11px;
	    line-height: 12px;
	    width: 60px;
	    vertical-align: middle;
    }
    .product-square a.product-item-link {
		padding: 0px 20px;
    }
    .ps-price {
		margin: 5px 20px 20px;
    }
    .buy_wrapper {
		padding: 0px 20px;
	    line-height: 14px;
    }
    .ps-buy-subscription {
		margin: 0px 20px 20px 20px;
    }
    a.action.more {
		font-size: 12px;
		text-align: right;
    }
    a.action.more.subscribe {
		text-align: center;
    }
    .product-square {
		box-shadow: 0px 2px 5px #c3c3c3;
    }
    .product-square-description ul {
		padding-left: 15px;
		font-size: 12px;
		line-height: 16px;
	}
	.product-square-description {
		padding: 0px 15px;
	}
	.category-description .pagebuilder-column-group .pagebuilder-column {
		display: inline-block !important;
		padding: 0px !important;
		vertical-align: middle;
	}
	.category-description .pagebuilder-column-group .pagebuilder-column:first-child {
		max-width: 35px !important;
	}
	.category-description .pagebuilder-column-group .pagebuilder-column:last-child {
		max-width: calc(100% - 50px) !important;
	}
	.satis-text-bottom p {
		font-size: 12px;
	}
	.category-description hr {
		margin: 0 30px !important;
		width: calc(100% - 60px) !important;
	}
	.page-products .columns {
		padding-top: 0;
    }
}
@media only screen and (max-width: 767px){
	.top-row-free-gift1 .pagebuilder-column-group .pagebuilder-column {
		display: inline-block !important;
	    padding: 7px 0px !important;
	}
	.free_gift_block {
		width: 100%;
	}
	p.fg_text {
		font-size: 15px;
		line-height: 15px;
	}
	p.fg_stext {
		font-size: 11px;
    }
    .top-row-free-gift1 .pagebuilder-column-group img {
		width: 55px !important;
		display: inline-block;
		float: right;
	}
	.top-row-free-gift1 .pagebuilder-column-group .pagebuilder-column:first-child {
		width: calc(100% - 62px) !important;
	}
	.top-row-free-gift1 .pagebuilder-column-group .pagebuilder-column:last-child {
		max-width: 60px;
	}
	.top-row-free-gift1 .pagebuilder-column-group {
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
    }
    .page-products .columns {
		padding: 20px;
		padding-top: 0;
		box-sizing: border-box;
	}
	.cat_title p {
		padding: 0px 40px;
		font-size: 14px;
		line-height: 20px;
	}
	.page-products.page-layout-1column .products-grid .product-item {
		width: calc(100% - 2px);
	    max-width: 428px;
    	margin: 0px auto 30px !important;
    	float: none;
    	display: block;
    	clear: both;
	}
	.badge_wrapper {
		font-size: 14px;
	    line-height: 31px;
	    height: 27px;
		width: calc(100% - 0px);
	}
	.product-square-description {
		padding-bottom: 30px;
	}
	.category-description hr {
		margin: 0 !important;
		width: 100% !important;
	}
	.category-description div[data-content-type="divider"] {
		padding-top: 0 !important;
	}
	.column.main, .page-layout-1column.page-with-filter .column.main {
		padding-bottom: 0;
	}
}