/*SHOPPING CART*/
.cart-footer{
    padding: 44px 0 50px 0;
    background: #fff;
}
#shopping-cart-table th.col.item {
    font-size: 14px;
    text-transform: uppercase;
    color: #4E4F51;
    font-weight: 700;
    border-bottom: 1px solid #1C2022;
    font-family: ff-scala-sans-pro;
    padding-left: 0;
}
#shopping-cart-table th.col.price {
    font-size: 14px;
    text-transform: uppercase;
    color: #4E4F51;
    font-weight: 700;
    border-bottom: 1px solid #1C2022;
    font-family: ff-scala-sans-pro;
}
#shopping-cart-table strong.product-item-name a {
    color: #000;
    font-size: 18px;
    font-family: ff-scala-sans-pro;
    font-weight:400;
}
#shopping-cart-table span.price {
    font-size: 20px;
    color: #000;
    font-family: ff-scala-sans-pro;
    font-weight:400;
}
#shopping-cart-table.cart > .item {
    border-bottom: 1px solid #1C2022;
}
.cart-summary strong.summary.title {
    font-size: 18px;
    text-transform: uppercase;
    font-family: ff-scala-sans-pro;
    font-weight:700;
    margin-top: 22px;
}
.cart-summary {
    background: none !important;
}
.cart-summary button.action.primary.checkout{
	background: #FFD833;
	border: none;
	border-radius: 0px;
	height: 50px;
	width: 280px;
}
.cart-summary button.action.primary.checkout span{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    font-family: ff-scala-sans-pro;
}
.cart-container .after-cart-section-1 {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.cart-container form#form-validate {
    margin-bottom: 0px;
    width: 74%;
}
.after-cart-section-1  ul#down_cart_info {
    padding-left: 20px;
    width: 100%;
    margin-top: 20px;
}
.after-cart-section-1  ul#down_cart_info li {
    list-style-type: none;
}
ul#down_cart_info div#txt-d {
    width: calc(100% - 30px);
    float: right;
}
ul#down_cart_info div#img-d {
    float: left;
    width: 25px;
}
ul#down_cart_info li {
    overflow: hidden;
    margin-bottom: 30px;
}
ul#down_cart_info p.text1 {
    margin-bottom: 0px;
}
div#txt-d p {
    margin-bottom: 0px;
}
div#txt-d p:last-child {
    margin-bottom: 0px;
    max-width: 208px;
    float: left;
    line-height: 15px;
}
.checkout-cart-index .cart.table-wrapper .actions-toolbar>.action-delete:before {
    content: "";
    background: url(../images/empty_cart.png);
    width: 14px;
    height: 20px;
    background-size: 14px;
    background-repeat: no-repeat;
}
.checkout-cart-index .cart.table-wrapper .actions-toolbar>.action-edit:before {
    content: "";
    background: url(../images/edit_cart.png);
    width: 18px;
    height: 20px;
    background-size: 18px;
    background-repeat: no-repeat;
}
ul#down_cart_info p.text1 {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    font-family: ff-scala-sans-pro;
}
ul#down_cart_info span#text2 {
    font-family: ff-scala-sans-pro;
    font-size: 12px;
    color: #000;
    font-weight: 400;
}
ul#down_cart_info span#text2 a {
    color: #000;
    text-decoration: underline;
    font-family: ff-scala-sans-pro;
}
.cart-summary strong#block-shipping-heading {
    font-size: 14px;
    font-weight: 400;
    font-family: ff-scala-sans-pro;
    color: #000;
}
.cart-summary tr.totals.sub th {
  	font-size: 14px;
    font-weight: 400;
    font-family: ff-scala-sans-pro;
}
.cart-summary .block > .title{border-top: 1px solid #1C2022;}
.cart-summary td.amount span {
	font-size: 16px;
	font-weight: 400;
	font-family: ff-scala-sans-pro;
}
.cart-summary .block > .title {
	padding-top: 26px;
	padding-bottom: 20px;
}
.cart-summary div#cart-totals {
	padding-top: 0px;
}
.cart-summary tr.totals.sub th {
	padding-top: 30px;
	padding-bottom: 20px;
}
.cart-summary span.price {
	padding-top: 33px;
}
.cart-summary .cart-totals tbody .amount {
	padding-top: 30px;
	padding-bottom: 20px;
}
.cart-summary .cart-totals .grand .mark {
    padding-top: 22px;
    font-size: 16px;
}
.cart-summary tr.grand.totals td.amount {
    PADDING-TOP: 22PX;
}
.cart-summary tr.grand.totals td.amount strong span {
    font-size: 24px;
    font-family: ff-scala-sans-pro;
    color: #ff3300;
    font-weight: 400;
}
.cart-footer .pagebuilder-column-group {
    display: block !important;
    float: right;
    margin-right: 10px;
    width: 325px;
    padding: 17px 0 0 0 !important;
}
.cart-footer .pagebuilder-column {
    padding: 0px !important;
    display: block !important;
    float: left;
    width: auto !important;
    margin-right: 10px !important;
}
.cart-footer .pagebuilder-column:last-child {
    width: 100px !important;
}
.cart-footer .copyright {
    width: calc(100% - 500px);
}
.header.content {
    padding: 24px 15px;
}
.cart-container .form-cart .actions.main .continue {
    display: block;
    float: left;
    color: #000000;
    font-size: 14px;
    line-height: 50px;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    text-indent: 0;
}
.cart-summary .block > .title:after {
    right: 3px;
    color: black;
    font-weight: bold;
    top: 25px;
}
.cart-container .form-cart .actions.main .continue:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    line-height: 12px;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    margin: 3px 0 0;
    transform: rotateZ(90deg);
    display: inline-block;
    color: black;
    font-weight: bold;
    margin-right: 5px;
}
.cart.table-wrapper .item .col.item {
    padding: 15px 0px 0px;
}
.cart.table-wrapper .product-item-details {
    padding-bottom: 0;
    padding-top: 15px;
}
.cart.table-wrapper .col.price, .cart.table-wrapper .col.subtotal, .cart.table-wrapper .col.msrp {
    padding: 25px 0px;
}
.cart-container form#form-validate {
    width: calc(100% - 320px);
}
.cart-container .cart-summary {
    width: 320px;
    padding:0px
}
.cart-container .after-cart-section-0 {
    background: #F6F6F6;
    padding: 30px 20px 20px;
}
.cart-container div#att-cart span.term-label {
    font-size: 14px;
    font-weight: 700;
    font-family: ff-scala-sans-pro;
}
.cart-container div#att-cart span#months {
    font-size: 14px;
    font-family: ff-scala-sans-pro;
    font-weight: 400;
}
.cart-container span#mobile_price {
    display: none;
}
.cart-container .after-cart-section-0 form#shipping-zip-form .field {
    width: calc(100% - 30px);
}
.cart-container .after-cart-section-0 form#shipping-zip-form .field select{
	color:#808285;
	font-size: 11px;
	height: 30px;
}
.cart-container .after-cart-section-0 form#shipping-zip-form .field input{
	font-size: 11px;
	height: 30px;
}
.cart-container .after-cart-section-0 form#shipping-zip-form .field span {
    color: #808285;
    font-size: 12px;
    font-weight: 700;
}
.cart-container .after-cart-section-0 form#shipping-zip-form p.field.note {
    font-size: 12px;
    color: #000;
    font-weight: 400;
}
.cart-container .after-cart-section-0 form#shipping-zip-form fieldset.fieldset.estimate {
    margin-bottom: 0px !important;
}
.cart-container .after-cart-section-0 form#shipping-zip-form .field select {
    background: #ffffff url(../images/down-ar1.png) no-repeat 96% 47%;
}
.cart-container .after-cart-section-0 form#shipping-zip-form .field input:focus {
    box-shadow: 0px 0px 0px 0px #cccccc;
}
.cart-container .after-cart-section-0 form#shipping-zip-form .field select {
    box-shadow: 0px 0px 0px 0px #cccccc;
}
.cart-container .cart-summary #block-shipping {
	display: none !important;
}
.cart.table-wrapper .actions-toolbar > .action-edit {
    display: none !important;
}
/*SHOPPING CART*/
/*CHECKOUT*/
.checkout-index-index button.action.action-cancel{
        display: none ;
    }
.checkout-index-index .checkout-container {
    padding-top: 30px;
}
.checkout-index-index .checkout-container .opc-wrapper {
    width: calc(100% - 320px);
}
.checkout-index-index .checkout-container .opc-sidebar {
    width: 100%;
    max-width: 320px;
}
.checkout-index-index div#opc-sidebar .opc-block-summary > .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: ff-scala-sans-pro;
    color: #4E4F51;
    border-bottom:1px solid #1C2022;
}
.checkout-index-index div#opc-sidebar .cart-totals, .opc-block-summary .table-totals {
    border-top: none;
}
.checkout-index-index div#opc-sidebar .opc-block-summary .table-totals tbody .mark {
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    font-family: ff-scala-sans-pro;
    color: #000000;
}
.checkout-index-index div#opc-sidebar .opc-block-summary .table-totals tbody .amount {
    padding-top: 25px;
    padding-bottom: 20px;
}
.checkout-index-index div#opc-sidebar .opc-block-summary .table-totals tbody .amount {
    font-size: 16px;
    font-weight: 400;
    font-family: ff-scala-sans-pro;
    color: #000000;
}
.checkout-index-index div#opc-sidebar .opc-block-summary .table-totals .grand strong {
    font-size: 16px;
    font-weight: 700;
    font-family: ff-scala-sans-pro;
}
.checkout-index-index div#opc-sidebar .opc-block-summary .table-totals .grand .amount {
    font-size: 24px;
    color: #FF3300;
    font-family: ff-scala-sans-pro;
}
.checkout-index-index tr.grand.totals th,
.checkout-index-index tr.grand.totals td {
    padding-top: 20px;
    border-top: 1px solid #B5B5B5 !important;
}
.checkout-index-index div#opc-sidebar .opc-block-summary .table-totals .grand .amount {
    padding-top: 23px;
    border-top: 1px solid #B5B5B5;
}
.checkout-index-index div#opc-sidebar .opc-block-summary .items-in-cart > .title {
    font-size: 16px;
    border-bottom: 1px solid #B5B5B5;
    font-family: ff-scala-sans-pro;
}
.checkout-index-index div#opc-sidebar .opc-block-summary .minicart-items .product-item-details .details-qty {
    display: none;
}
.checkout-index-index .checkout-shipping-address  .opc-wrapper .form-login,
.checkout-index-index .checkout-billing-address  .opc-wrapper .form-login,
.checkout-index-index div#checkout-step-payment  .opc-wrapper .form-login, .opc-wrapper .form-shipping-address {
    max-width: 600px;
}
.checkout-index-index tr.grand.totals td .price {
    font-size: 26px;
    font-weight: 400;
    color: #FF3300;
}
.checkout-index-index .checkout-shipping-address .form-login .field input,
.checkout-index-index .checkout-billing-address .form-login .field input,
.checkout-index-index div#checkout-step-payment .form-login .field input {
    height: 55px;
}
.checkout-index-index .checkout-shipping-address .field-tooltip .field-tooltip-action:before,
.checkout-index-index .checkout-billing-address .field-tooltip .field-tooltip-action:before,
.checkout-index-index div#checkout-step-payment  .field-tooltip .field-tooltip-action:before {
    content: "";
    background: url(../images/question-mark.png);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}
.checkout-index-index .checkout-shipping-address .field-tooltip .field-tooltip-action,
.checkout-index-index .checkout-billing-address .field-tooltip .field-tooltip-action,
.checkout-index-index div#checkout-step-payment  .field-tooltip .field-tooltip-action {
    padding-top: 15px;
}

div#checkout-step-payment #firstdata-transparent-form .field-tooltip .field-tooltip-action {
    padding-top: 3px;
}
.checkout-index-index #md_firstdata_expiration-error {
    position: absolute;
}
.checkout-index-index .fields.group.group-2 {
    margin-bottom: 20px;
}
.checkout-payment-method .ccard .cvv .input-text {
    margin-right: 20px;
}
.paypal-disabled {
    pointer-events: none;
    opacity: 0.5;
}
.checkout-index-index .checkout-shipping-address .field-tooltip .field-tooltip-content ,
.checkout-index-index .checkout-billing-address .field-tooltip .field-tooltip-content ,
.checkout-index-index div#checkout-step-payment  .field-tooltip .field-tooltip-content {
    top: 3px;
}
.checkout-index-index   .opc-wrapper .form-login, .opc-wrapper .form-shipping-address {
    max-width: 600px;
}
.checkout-index-index .checkout-shipping-address input,
.checkout-index-index .checkout-billing-address input,
.checkout-index-index div#checkout-step-payment .ey_billing_address_step input,
.checkout-index-index .checkout-shipping-address input[type=text],
.checkout-index-index .checkout-billing-address input[type=text],
.checkout-index-index  div#checkout-step-payment input[type=text] {
	height:54px;
	border:1px solid #CCCCCC;
}
.checkout-index-index .checkout-shipping-address select,
.checkout-index-index .checkout-billing-address select,
.checkout-index-index  div#checkout-step-payment .ey_billing_address_step select {
	height:54px;
	border:1px solid #CCCCCC;
}
.checkout-index-index .checkout-shipping-address input:focus,
.checkout-index-index .checkout-billing-address input:focus,
.checkout-index-index  div#checkout-step-payment input:focus {
	box-shadow:none;
}
.checkout-index-index .checkout-shipping-address select:focus,
.checkout-index-index .checkout-billing-address select:focus,
.checkout-index-index  div#checkout-step-payment select:focus {
	box-shadow:none;
}
.checkout-index-index .checkout-shipping-address label,
.checkout-index-index .checkout-billing-address label,
.checkout-index-index  div#checkout-step-payment label{
	color: #808285;
    font-weight: 700;
    font-size: 14px;
}
.checkout-index-index  fieldset.field.street.admin__control-fields.required span {
  	color:#808285;
	font-weight:700;
	font-size:14px;
	font-family: ff-scala-sans-pro;
}
.checkout-index-index .checkout-shipping-address select,
.checkout-index-index .checkout-billing-address select,
.checkout-index-index  div#checkout-step-payment select{
	color:#808285;
	font-weight:400;
	font-size:13px;
	font-family: ff-scala-sans-pro;
	height: 54px;
    padding: 0px 20px;
    line-height: 54px;
    background: #ffffff url(../images/down-select-ar.png) no-repeat calc(100% - 20px) 50%;
}
.checkout-index-index  ol#checkoutSteps fieldset#customer-email-fieldset span {
    color: #808285;
}
.checkout-index-index ol#checkoutSteps .checkout-payment-method .step-title,
.checkout-index-index ol#checkoutSteps .checkout-address-custom .step-title{
    text-transform: uppercase;
    color: #4E4F51;
    font-weight: 700;
    border-bottom: 1px solid #707070;
    font-size:18px;
}
.checkout-index-index  ol#checkoutSteps .opc-wrapper .form-login {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.checkout-index-index .checkout-container .opc-wrapper {
    padding-right: 110px;
}
.checkout-index-index  .opc-progress-bar-item._active > span:before {
    background: none;
    border: none;
}
.checkout-index-index  .opc-progress-bar-item._active:before {
    background: none;
    border: none;
}
.checkout-index-index  .opc-progress-bar-item._active > span:after {
    border-color: #000;
    content: '1';
    border: 3px solid;
    font-size: 18px;
    font-family: ff-scala-sans-pro;
    text-align: center;
    font-weight: 700;
    line-height: 26px;
    height: 26px;
}
.checkout-index-index  .opc-progress-bar-item > span {
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 14px;
    font-family: ff-scala-sans-pro;
    font-weight:700;
}
.checkout-index-index .opc-progress-bar-item._active > span {
    color: #000;
}
.checkout-index-index  .opc-progress-bar-item > span:before, .opc-progress-bar-item > span:after {
    left: 0px;
    top: 50%;
    margin-top: -19px;
    margin-left: 0px;
}
.checkout-index-index  .opc-progress-bar {
    max-width: 500px;
    margin: auto;
}
.checkout-index-index .cart-footer  .copyright-text span {
    font-weight: 400;
}
.checkout-index-index  ol#checkoutSteps .fieldset > .field.required > .label:after, .fieldset > .fields > .field.required > .label:after, .fieldset > .field._required > .label:after, .fieldset > .fields > .field._required > .label:after {color: #808285;}
.checkout-index-index ol#checkoutSteps   .actions-toolbar .primary button.action.primary.checkout,
.checkout-index-index .btn-placeorder {
    background: #FF3300;
    border:none;
    border-radius:none;
    border-radius: 0px;
    font-size: 18px !important;
    text-transform: uppercase;
    font-weight: 700;
    width: 210px;
    height: 50px;
}
.checkout-index-index .opc-block-summary .product-item .product-item-name-block {
    width: calc(100% - 75px);
    float: left;
}
.checkout-index-index .opc-block-summary .product-item .subtotal {
    float: right;
}
.checkout-index-index .opc-block-summary .items-in-cart.active > .title:after {
    color: #000;
    font-weight: 700;
}
.checkout-index-index .opc-block-summary .items-in-cart > .title:after {
    font-weight: 700;
    color: #000;
}
.checkout-index-index .ey_personal_information_step legend,
.checkout-index-index .checkout-shipping-address legend,
.checkout-index-index .ey_billing_address_step legend {
    display: block;
    position: relative !important;
    height: auto !important;
    width: 100% !important;
    text-transform: uppercase;
    color: #4E4F51;
    font-weight: 700;
    border-bottom: 1px solid #707070 !important;
    font-size: 18px;
}
.checkout-index-index .checkout-shipping-address legend.label,
.checkout-index-index .ey_billing_address_step legend.label {
    border: none !important;
    text-transform: none;
    font-size: 14px;
}
.checkout-index-index .opc-wrapper .form-login {
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left:50px;
}
.checkout-index-index li.opc-progress-bar-item.confirmation:before {
	display: none;
}
.checkout-index-index li.opc-progress-bar-item.confirmation span {
    color: #C3C3C3;
    position: relative;
    padding-left: 30px;
    text-align: left;
}
.checkout-index-index li.opc-progress-bar-item.confirmation span:before {
    display: none;
}
.checkout-index-index li.opc-progress-bar-item.confirmation {
    margin-left: 95px;
}
.checkout-index-index li.opc-progress-bar-item.confirmation span:after {
    border: none;
    content: "";
    width: 20px;
    height: 16px;
    background: url(../images/confirmation_disabled.png);
    border-radius: 0px !important;
    top: 50%;
    margin-top: -9px;
    background-position: 50%;
    background-repeat: no-repeat;
    left: 0px;
    margin-left: 0px;
}
.checkout-index-index li.opc-progress-bar-item span {
    padding-top: 0px;
    padding-left: 40px;
    text-align: left;
}
.checkout-index-index .ey_personal_information_step {
    margin-top: 45px;
}
.checkout-index-index .opc-wrapper .form-login {
    margin-top: 0px;
    padding-top: 30px;
}
.checkout-index-index .opc-wrapper .form-login,
.checkout-index-index .opc-wrapper .form-shipping-address {
    max-width: 700px;
}
.checkout-index-index .payment-methods-ey-notice {
    padding: 20px;
    background: #F9F3D9;
    margin-top: 10px;
}
.checkout-index-index .payment-methods-ey-notice p {
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}
.checkout-index-index .payment-methods-ey-notice div {
    font-size: 13px;
    color: #4E4F51;
    line-height: 16px;
}
.checkout-index-index .payment-methods-ey-notice div a {
    color: #4E4F51;
    text-decoration: underline;
}
.checkout-index-index .email_me_section {
    margin: 20px 0px;
}
.checkout-index-index .email_me_section label span {
    display: block;
    float: left;
    font-size: 13px;
    color: #4E4F51;
    line-height: 22px;
    font-weight:normal;
}
.checkout-index-index .email_me_section label {
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
    display:block;
}
.checkout-index-index .email_me_section div {
    padding-left: 27px;
    font-size: 13px;
    color: #000000;
}
.checkout-index-index .minicart-items .product-item-term {
    font-size: 12px;
    color: #000000;
}
.checkout-index-index .minicart-items strong.product-item-name {
    color: #000000;
    font-size: 13px;
}
.checkout-index-index .opc-block-summary {
    background: #F6F6F6;
    padding: 25px 20px;
}
.checkout-index-index .field._required[name='billingAddressshared.firstname'],
.checkout-index-index .field._required[name='billingAddressshared.lastname'],
.checkout-index-index .field._required[name='shippingAddress.firstname'],
.checkout-index-index .field._required[name='shippingAddress.lastname']{
	display:block !Important
}
.checkout-index-index .field[name='billingAddressshared.firstname'],
.checkout-index-index .field[name='billingAddressshared.lastname'],
.checkout-index-index .field[name='shippingAddress.firstname'],
.checkout-index-index .field[name='shippingAddress.lastname']{
	display:none !Important
}
.checkout-index-index .block.items-in-cart {
    margin-top: 10px;
}
.checkout-index-index .opc-block-summary .items-in-cart > .title strong {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.checkout-index-index .fieldset > .field label.label[for=bi_password_copy] {
    margin: 20px 0 8px;
}
.checkout-index-index p.an_account_notice {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
}
.checkout-index-index .field[name='billingAddressshared.vat_id'] input,
.checkout-index-index .field[name='billingAddressshared.postcode'] input{
	max-width:150px;
}
.checkout-index-index .fieldset > .field.required > .label:after,
.checkout-index-index  .fieldset > .fields > .field.required > .label:after,
.checkout-index-index  .fieldset > .field._required > .label:after,
.checkout-index-index  .fieldset > .fields > .field._required > .label:after {
    content: "*";
    font-family: Barlow;
    font-size: 14px;
}
.checkout-index-index .checkout-shipping-address select,
.checkout-index-index .checkout-shipping-address input[type=text],
.checkout-index-index .checkout-shipping-address input[type=password],
.checkout-index-index .checkout-shipping-address input[type=email] ,
.checkout-index-index .checkout-billing-address select,
.checkout-index-index .checkout-billing-address input[type=text],
.checkout-index-index .checkout-billing-address input[type=password],
.checkout-index-index .checkout-billing-address input[type=email] ,
.checkout-index-index div#checkout-step-payment select,
.checkout-index-index div#checkout-step-payment input[type=text],
.checkout-index-index div#checkout-step-payment input[type=password],
.checkout-index-index div#checkout-step-payment input[type=email] {
    max-width: 600px;
}
.checkout-index-index .checkout-payment-method .field-select-billing,
.checkout-index-index .checkout-payment-method .billing-address-form,
.checkout-index-index #shipping .checkout-billing-address .billing-address-form,
.checkout-index-index .form-shipping-address .fieldset.address{
    max-width: 600px;
}
.checkout-index-index .checkout-payment-method .billing-address-form,
.checkout-index-index #shipping .checkout-billing-address .billing-address-form,
.checkout-index-index .form-shipping-address .fieldset.address {
	padding-left:50px;
}
.checkout-index-index .payment-method-content fieldset {
    padding-left: 50px;
}
.checkout-index-index .payment_cms div {
    padding: 0px !important;
    margin: 0px !important;
}
.checkout-index-index .payment-methods-ey-notice-title p {
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
}
.checkout-index-index .payment-methods-ey-notice-text p {
    color: #000;
    font-size: 13px;
}
.checkout-index-index .payment-methods-ey-notice-text a {
    color: #000;
    text-decoration: underline;
}
.checkout-index-index .payment_cms {
    margin-bottom: 40px;
    padding: 0px 20px;
}
.checkout-index-index  .checkout-payment-method .payment-method._active .payment-method-content {
    padding: 0px;
    max-width: 600px;
}
.checkout-index-index  .checkout-payment-method .payment-method .actions-toolbar{
    display:none!important;
}
.checkout-index-index .checkout-payment-method .payment-method._active #paypal-express-in-context-button{
    display:block!important;
}
.checkout-index-index  .checkout-payment-method .payment-method._active .actions-toolbar {
    margin-bottom: 25px;
}
.checkout-index-index ol#checkoutSteps .actions-toolbar .primary button.action.primary.checkout span:after,
.checkout-index-index .btn-placeorder span:after {
	content: "";
	background: url(../images/porder.png);
	padding: 0px 8px;
	background-repeat: no-repeat;
	background-position: 0px 2px;
	margin-left: 8px;
}

.checkout-index-index fieldset.field.street.admin__control-fields.required .field-error span {
    color: #e02b27;
    font-size: 1.2rem;
    margin-top: 7px;
    font-weight: normal;
}
.checkout-index-index .password_should_be {
    color: #FF3300;
    font-size: 13px;
    padding: 5px 10px;
}
.checkout-index-index div#password-strength-meter {
    color: #000;
    font-size: 14px;
    padding: 2px 13px;
    background: #F6F6F6;
}
.checkout-index-index span.icon-security {
    background: url(../images/security.png);
    display: block;
    width: 24px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.checkout-index-index span.icon-check {
    background: url(../images/check.png);
    display: block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.checkout-index-index .control._with-tooltip.has-account input {
    width: 100%;
	max-width: 100% !important;
}

.checkout-index-index .login_button {
    width: 100px;
    float: right;
    height: 54px;
    line-height: 54px;
    font-size: 13px;
    text-align: center;
    background: #FFD833;
    font-weight: 700;
}

.checkout-index-index ol#checkoutSteps fieldset#customer-email-fieldset .login_button .akamai_login_button {
    color: #000 !important;
    cursor: pointer;
	display: inline-block;
    width: 100%;
}
.checkout-index-index .field-error {
    color: #FF3300;
    font-size: 14px;
    font-weight: normal;
    padding: 0px 20px;
}
.checkout-index-index .input-email-wrapper{
	width: calc(100% - 20px);
    float: left;
}
.checkout-index-index .tooltip_button {
    float: left;
    width: 20px;
}

.checkout-index-index .control._with-tooltip.has-tooltip {
    width: 600px;
}
.checkout-index-index fieldset.fieldset.additional-login-fields {
    clear: both;
}
.checkout-index-index .login_button_notice {
    color: #FF3300;
    margin-bottom: 10px;
}
.checkout-index-index .login_email_notice {
    margin-bottom: 10px;
}
.checkout-index-index button.action.action-update{
    border: 1px solid #CCCCCC;
    background: #fff;
    border-radius: 0px;
    box-shadow: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 18px !important;
}
.checkout-index-index .password-weak .password-strength-meter:before {
    background: rgba(255,51,0,0.25);
}

.checkout-index-index .password-medium .password-strength-meter:before {
    background: rgba(255,216,51,0.4);
}

.checkout-index-index .password-strong .password-strength-meter:before {
    background: rgba(0,153,119,0.15);
}

.checkout-index-index .password-very-strong .password-strength-meter:before {
    background: rgba(0,153,119,0.4);
}
.checkout-index-index button.action.action-cancel {
    margin-top: 0px !important;
    padding: 20px 0px !important;
    font-size: 18px;
    font-weight: 700 !important;
    color: #000000 !important;
    text-transform: uppercase;
}
.checkout-index-index input[name=postcode],input[name=vat_id] {
	    width: 150px;
	}
.checkout-index-index .field[name="billingAddressshared.street.2"],
.checkout-index-index .field[name="shippingAddress.street.2"]{
    display: none;
}
.checkout-index-index .login_email_notice,
.checkout-index-index .login_email_notice span {
    color: #000 !important;
    padding-top: 5px;
    word-break : break-word;
}
.checkout-index-index .has-account .input-email-wrapper {
    width: calc(100% - 110px);
}
.checkout-index-index button.action.action-edit-address {
    border: 1px solid #CCCCCC;
    background: #fff;
    border-radius: 0px;
    box-shadow: none;
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    line-height: 18px !important;
    min-width: 105px;
}
.checkout-index-index .field[name="billingAddressshared.vat_id"],
.checkout-index-index .field[name="shippingAddress.vat_id"]{
    display: none;
}
.checkout-index-index .email_me_section .container,
.checkout-index-index .shipping-address-same-as-billing-block .container {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height:19px;
  padding-left: 27px;
}
.checkout-index-index .email_me_section .container input,
.checkout-index-index .shipping-address-same-as-billing-block .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 17px !important;
  width: 17px;
  top: 0px;
  left: 0px;
}
.checkout-index-index .email_me_section .checkmark,
.checkout-index-index .shipping-address-same-as-billing-block .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border:1px solid #000;
}
.checkout-index-index .email_me_section .container input:checked ~ .checkmark,
.checkout-index-index .shipping-address-same-as-billing-block .container input:checked ~ .checkmark {
  background-color: #000;
}
.checkout-index-index .email_me_section .container input:checked ~ .checkmark img,
.checkout-index-index .shipping-address-same-as-billing-block .container input:checked ~ .checkmark img {
    display: block !important;
}
.checkout-index-index .choice.field input {
    display: block;
    float: left;
    height: 17px !important;
    margin: 0px 10px 0px 10px;
    width: 17px;
}
.checkout-index-index .choice.field label {
    display: block;
    float: left;
}
.checkout-index-index .choice.field label span {
    font-size: 13px;
    color: #4E4F51;
    line-height: 22px;
    font-weight: normal;
}
.checkout-payment-method .payment-method-title{
	overflow: hidden;
}
.checkout-index-index .field-error span {
    color: #FF3300 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}
.checkout-index-index .mage-error[generated] {
        color: #FF3300 !important;
        font-size: 14px !important;
        font-weight: normal !important;
        padding: 0 20px !important;
        float: left;
        width: 100%;
        margin-top: 7px;
        margin-bottom: 20px;
    }
.checkout-index-index .paypal-tag-line-message {
    text-align: center;
    display: block;
    margin-top: -32px;
    margin-bottom: 10px;
    font-size: 16px;
}
.checkout-index-index .shipping-address-same-as-billing-block {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 30px;
}
.checkout-index-index .checkout-payment-method {
    float: left; width: 100%;
}
/*CHECKOUT*/
/*RESPONSIVENESS*/
@media only screen and (min-width: 767px){
	.checkout-index-index .checkout-container{position: relative;}
	.checkout-index-index .checkout-container .opc-sidebar{position: sticky; top: 0;}
}
@media only screen and (max-width: 1024px){
	.checkout-index-index .opc-progress-bar {
    	width: 310px;
	}
	.checkout-index-index .opc-progress-bar-item > span {
	    font-size: 12px;
	}

	.checkout-index-index .opc-progress-bar-item._active > span:after {
	    font-size: 16px;
	    width: 20px;
	    height: 20px;
	    line-height: 18px;
	    margin-top: -15px;
	}

	.checkout-index-index li.opc-progress-bar-item.confirmation span:after {
	    width: 14px;
	    background-size: 14px;
	}

	.checkout-index-index li.opc-progress-bar-item.confirmation span {
	    padding-left: 20px;
	}

	.checkout-index-index li.opc-progress-bar-item span {
	    padding-left: 35px;
	}



	.checkout-index-index li.opc-progress-bar-item.confirmation {
	    margin-left: 40px;
	}

	.opc-progress-bar-item {
	    width: 153px;
	}

	li.opc-progress-bar-item.confirmation {
	    width: 115px;
	}

	.checkout-index-index .ey_personal_information_step legend,
	.checkout-index-index .checkout-shipping-address legend,
    .checkout-index-index .ey_billing_address_step legend {
	    font-size: 14px;
	}

	.checkout-index-index div#opc-sidebar .opc-block-summary > .title {
	    font-size: 14px;
	}

	.checkout-index-index .checkout-container .opc-sidebar {
	    max-width: 245px;
	}


	.checkout-index-index .control._with-tooltip.has-tooltip {
	    width: 100%;
	}

	.checkout-index-index .tooltip_button {
	}

	.field-tooltip {
	    right: 15px;
	}

	.checkout-index-index .checkout-shipping-address label,
	.checkout-index-index .checkout-billing-address label,
    .checkout-index-index div#checkout-step-payment label {
	    font-size: 14px;
	    margin-bottom: 5px;
	}

	.checkout-index-index .login_email_notice {
	    margin-top: 5px;
	}

	.checkout-index-index .checkout-shipping-address select,
	.checkout-index-index .checkout-shipping-address input[type=text],
	.checkout-index-index .checkout-shipping-address input[type=password],
	.checkout-index-index .checkout-shipping-address input[type=email],
    .checkout-index-index .checkout-billing-address select,
	.checkout-index-index .checkout-billing-address input[type=text],
	.checkout-index-index .checkout-billing-address input[type=password],
	.checkout-index-index .checkout-billing-address input[type=email],
    .checkout-index-index div#checkout-step-payment select,
	.checkout-index-index div#checkout-step-payment input[type=text],
	.checkout-index-index div#checkout-step-payment input[type=password],
	.checkout-index-index div#checkout-step-payment input[type=email] {
	    max-width: 100%;
	}

	div#password-strength-meter-container {
	    max-width: 390px;
	}

	.checkout-index-index tr.grand.totals td .price {
	    font-size: 18px;
	}

	.checkout-index-index .minicart-items strong.product-item-name {
	    font-size: 12px;
	}

	.minicart-items .product-item-details {
	    padding-left: 60px;
	}

	ul#down_cart_info {
	    padding-left: 0px;
	}

}
@media only screen and (max-width: 900px) {
	.checkout-index-index .checkout-shipping-address select,
	.checkout-index-index .checkout-shipping-address input[type=text],
	.checkout-index-index .checkout-shipping-address input[type=password],
	.checkout-index-index .checkout-shipping-address input[type=email],
    .checkout-index-index .checkout-billing-address select,
	.checkout-index-index .checkout-billing-address input[type=text],
	.checkout-index-index .checkout-billing-address input[type=password],
	.checkout-index-index .checkout-billing-address input[type=email],
    .checkout-index-index div#checkout-step-payment select,
	.checkout-index-index div#checkout-step-payment input[type=text],
	.checkout-index-index div#checkout-step-payment input[type=password],
	.checkout-index-index div#checkout-step-payment input[type=email] {
	    max-width: 390px;
	}
	.checkout-index-index .opc-progress-bar {
	    max-width: 310px;
	}
	.checkout-index-index .checkout-container .opc-wrapper {
	    width: calc(100% - 275px);
	    padding-right: 0px;
	}
	.cart-container form#form-validate {
    	width: calc(100% - 250px);
	}
	.cart-container .cart-summary {
    	width: 250px;
	}
	.cart-summary ul.checkout.methods.items.checkout-methods-items button.action.primary.checkout {
    	width: 205px;
	}
	.cart-summary ul.checkout.methods.items.checkout-methods-items button.action.primary.checkout span {
    	font-size: 13px;
	}
	.cart-summary strong.summary.title {
    	font-size: 14px;
	}
	.cart-summary tr.grand.totals td.amount strong span {
    	font-size: 18px;
	}
	.cart-summary .cart-totals .grand .mark {
    	font-size: 13px;
	}
	.cart-summary td.amount span {
    	font-size: 14px;
	}
	.cart-summary tr.totals.sub th {
    	padding-top: 17px;
    	padding-bottom: 14px;
	}
	.cart-summary .cart-totals tbody .amount {
    	padding-top: 17px;
    	padding-bottom: 14px;
	}
	.cart-summary .block > .title {
    	padding-top: 20px;
    	padding-bottom: 18px;
	}
	.cart-summary .block > .title:after {
    	top: 21px;
	}
	ul#down_cart_info p.text1 {
    	font-size: 14px;
	}
	ul#down_cart_info span#text2 {
    	font-size: 10px;
	}
	.cart-footer {
    	padding: 44px 0 50px 0;
	}
	#shopping-cart-table strong.product-item-name a {
    	font-size: 14px;
	}
	.cart-container div#att-cart span.term-label {
    	font-size: 12px;
	}
	.cart-container div#att-cart span#months {
    	font-size: 12px;
	}
	#shopping-cart-table span.price {
    	font-size: 16px;
	}
	#shopping-cart-table th.col.item {
    	font-size: 12px;
	}
	#shopping-cart-table th.col.price {
    	font-size: 12px;
	}
	.cart-container .form-cart .actions.main .continue {
    	font-size: 12px;
	}
	.cart-footer .pagebuilder-column-group {
    	width: 168px;
	}
	.cart-footer .pagebuilder-column:last-child {
    	float:right;
	}
}
@media only screen and (max-width: 767px) {
	.cart-container span#mobile_price {
    	display: block;
	}
	.cart-container .cart-summary {
		width: 100%;
	}
	.cart-container form#form-validate {
    	width: 100%;
	}
	.checkout-cart-index .page-main {
    	padding-left: 20px;
    	padding-right: 20px;
	}
	.cart-footer .copyright {
    	width: 100%;
	}

	.cart-container .form-cart .actions.main .continue {
    	text-align: center;
    	width: 100%;
	}
	.cart.table-wrapper .item .col.item {
    	display: block;
    	min-height: 75px;
    	padding: 15px 15px 0px 100px;
    	position: relative;
	}
	.cart-container div#att-cart span#months {
		font-size: 13px;
	}
	.cart-container div#att-cart span.term-label {
    	font-size: 13px;
	}
	ul#down_cart_info {
    	width: 250px !important;
    	margin: auto;
    	display: block;
	}
	.cart-footer .pagebuilder-column-group {
    	margin: auto;
    	float: none;
	}
	.cart-footer .pagebuilder-column-group {
    	width: auto;
        padding: 20px 15px 0 15px !important;
	}
	.cart-footer .pagebuilder-column:last-child {
    	margin: auto !important;
    	width: 100% !important;
    	float: none !important;
	}
	.cart.table-wrapper tbody.cart.item span.product-image-wrapper {
    	width: 80px;
	}
	.cart.table-wrapper td.col.price:before {
    	text-transform: uppercase;
    	font-size: 12px;
	}
	.cart.table-wrapper .col.price {
    	width: 100%;
    	padding-left: 100px;
    	padding-top: 0pc;
	}
	.cart.table-wrapper .product-item-photo {
    	left: 5px;
	}
	.cart.table-wrapper .product-item-details {
		padding-top: 0px;
	}
	.cart.table-wrapper td.col.price:before {
    	display: none !IMPORTANT;
	}
	.cart-container span#mobile_price {
    	width: 45px;
    	float: left;
   		font-size: 12px;
    	text-transform: uppercase;
    	font-weight: 700;
	}
	.cart-container #shopping-cart-table span.price {
    	float: left;
	}
	.checkout-index-index .checkout-container .opc-wrapper {
	    width: 100%;
	    float: none;
	    clear: both;
	}

	.checkout-index-index .checkout-container .opc-sidebar {
	    max-width: 100%;
	    position: relative;
	    visibility: visible;
	    opacity: 1;
	    left: auto;
	    top: auto;
	    margin: 0px;
	    float: none;
	    transition: none;
	    right: auto;
	    bottom: auto;
	    z-index: initial;
	}

	.checkout-index-index .custom-slide .modal-inner-wrap {
	    position: relative;
	    box-shadow: none;
	    overflow: hidden;
	    transform: none;
	}

	.checkout-index-index .custom-slide .modal-inner-wrap {
	    background: #fff;
	}
	.checkout-index-index .opc-estimated-wrapper {
    	display: none;
	}
	.checkout-index-index  .opc-wrapper .form-login,
	.checkout-index-index .opc-wrapper .form-shipping-address,
	.checkout-index-index .opc-wrapper .methods-shipping {
    	background: #fff;
	}

	.checkout-index-index .ey_personal_information_step {
	    margin-top: 0px;
	}

	.checkout-index-index .checkout-container .opc-wrapper {
	    order: 2;
	}

	.checkout-index-index .checkout-container .opc-sidebar {
	    display: table-header-group;
	}

	.checkout-index-index .checkout-container {
	    display: table;
	}

	.checkout-index-index div#checkout .modal-custom .action-close {
	    display: none !important;
	}
	.checkout-index-index .ey_personal_information_step {
	    margin-top: 0px;
	}

	.checkout-index-index .checkout-container .opc-wrapper {
    	display: table-footer-group;
	}

	.checkout-index-index .checkout-container .opc-sidebar {
	    display: table-header-group;
	}

	.checkout-index-index .checkout-container {
	    display: table;
	}

	.checkout-index-index div#checkout .modal-custom .action-close {
	    display: none !important;
	}

	.checkout-index-index div#opc-sidebar .opc-block-summary > .title {
	    font-size: 18px;
	    padding-bottom: 15px;
	    margin-bottom: 0px;
	}

	.checkout-index-index tr.grand.totals td .price {
	    font-size: 24px;
	}

	.checkout-index-index div#opc-sidebar .opc-block-summary .table-totals .grand strong {
	    padding: 0px;
	}
	.checkout-index-index .checkout-payment-method .payment-methods {
    	margin: 0px;
	}

	.checkout-index-index div#opc-sidebar .opc-block-summary .table-totals tbody .mark {
	    padding: 0px;
	    vertical-align: middle;
	}

	.checkout-index-index .minicart-items strong.product-item-name {
	    font-size: 13px;
	}

	.checkout-index-index .opc-block-summary .product-item .price {
	    font-size: 16px;
	}

	.checkout-index-index ul#down_cart_info p.text1 {
	    font-size: 16px;
	}

	.checkout-index-index ul#down_cart_info span#text2 {
	    font-size: 12px;
	}

	.checkout-index-index .field-error {
	    font-size: 13px;
	    padding: 0px 10px;
	}
    .checkout-index-index .mage-error {
        font-size: 13px !important;
        padding: 0px 10px !important;
    }





	.checkout-index-index ol#checkoutSteps .actions-toolbar .primary button.action.primary.checkout,
    .checkout-index-index .btn-placeorder {
	    width: 100%;
	}

	.checkout-index-index div#checkout {
	    width: calc(100% - 30px);
	    margin: auto;
	}
	.checkout-index-index .checkout-shipping-address select,
	.checkout-index-index .checkout-shipping-address input[type=text],
	.checkout-index-index .checkout-shipping-address input[type=password],
	.checkout-index-index .checkout-shipping-address input[type=email],
    .checkout-index-index .checkout-billing-address select,
	.checkout-index-index .checkout-billing-address input[type=text],
	.checkout-index-index .checkout-billing-address input[type=password],
	.checkout-index-index .checkout-billing-address input[type=email],
    .checkout-index-index div#checkout-step-payment select,
	.checkout-index-index div#checkout-step-payment input[type=text],
	.checkout-index-index div#checkout-step-payment input[type=password],
	.checkout-index-index div#checkout-step-payment input[type=email] {
    	max-width: 100%;
	}
	.checkout-index-index .email_me_section p span {
    	width: calc(100% - 30px);
	}
    #opc-sidebar .mms-promotion-aside {
        display: none;
    }
    #checkout .mms-promotion {
        display: none;
    }
    #opc-sidebar .mms-promotion-top {
        display: block !important;
    }
    .opc-wrapper .mms-promotion-bottom {
        display: block !important;
    }
}

.sections.nav-sections {
    display: none;
}
/*RESPONSIVENESS*/
#opc-sidebar .mms-promotion-top{
    display:none;
}
.opc-wrapper .mms-promotion-bottom {
	display: none;
}
body {
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}
