.product-info-price .price-box .price-container .price {
    color: #FF3300;
    font-weight: normal !important;
    font-size: 32px !important;
}
.page-layout-1column .column.main {
    max-width: 870px;
    margin: auto;
}
.page-layout-1column .product-info-main {
    width: 49%;
}
.page-layout-1column .product.media {
    width: 350px;
    position: relative;
}
.product-info-main .page-title-wrapper h1 span.base {
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
    margin: 0;
    color: black;
}
.product-info-main .page-title-wrapper h1 {
    margin-bottom: 0;
}
.ps-months {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: black;
}
.product-info-main .product-reviews-summary {
	display: none;
}
.product-info-main .product-info-price .price-box {
    width: 100%;
    display: flex;
}
.product-info-main .product-info-stock-sku {
	display: none;
    padding-left: 0;
    text-align: left;
}
.save_wrapper {
    color: #FF3300;
    font-size: 14px;
    line-height: 17px;
}
.product-info-price .price-box .special-price .price-container .price {
    color: #FF3300;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
}
.product-info-main .product-info-price .old-price .price-wrapper .price {
    color: #000;
    font-size: 24px !important;
    text-decoration: line-through;
    line-height: 29px;
    padding-right: 5px;
    font-weight: 400;
}
.product-info-price .price-box .old-price .price-container > span.price-label {
    display: none;
}
.product-info-price .price-box .old-price {
	order: 1;
    margin-top: 4px;
    margin-right: 10px;
}
.product-info-main .product-info-price .price-box .special-price {
    order: 2;
}
.product-info-main .product-info-price {
	margin-top: 23px;
	margin-bottom: 0;
	border-bottom: 0px;
}
.product-info-main .product-info-price .price-box .price-container > span {
	margin-bottom: 0;
}
.box-tocart .action.tocart {
    width: 275px;
    border-radius: 0px;
    background: #FFD833;
    border: none;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    padding: 13px;
}
.box-tocart .fieldset .field.qty {
    display: none;
}
.product.attribute.overview {
    float: left;
    width: 100%;
    margin-top: 40px;
}
.product.attribute.overview .value {
    font-size: 14px;
    line-height: 26px;
    color: black;
}
.product.attribute.description [data-element='inner'] {
   	padding: 0 !important;
	padding-top: 20px !important;
    color: #000;
    font-size: 14px;
    line-height: 24px;
}
.product.attribute.description [data-element='inner'] li {
    margin-bottom: 5px;
}
product.attribute.description p,.product.attribute.description ul li {
    font-size: 14px;
    color: #000;
}
.product.attribute.description p strong {
    font-weight: 700;
}
.box-tocart {
    margin: 0;
}
.box-tocart .fieldset:last-child {
    margin-bottom: 10px;
}
.badge_wrapper {
    background: #FF3300;
    height: 30px;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
}
.satisfaction_guarantee {
    float: left;
    width: 100%;
    border-top: 1px solid #6A6A6A;
    padding: 30px;
    text-align: center;
    margin-top: 40px;
    box-sizing: border-box;
    padding-bottom: 60px;
}
.guar_badge {
    width: 25px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
}
.img-text p {
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.img-text {
    margin-bottom: 10px;
}
.product.attribute.description {
    clear: both;
}
.product.attribute.overview .value {
    border-top: 1px solid #1C2022 !important;
    padding: 0 !important;
    padding-top: 20px !important;
    color: #4E4F51 !important;
    font-size: 16px;
    line-height: 24px;
}
span.readMore,
span.readLess {
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
}
span.akamaiLoginBtn {
    width: 275px;
    border-radius: 0px;
    background: #FFD833;
    border: none;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    padding: 13px;
    display: block;
    text-align: center;
    cursor: pointer;
}
.pdp_title {
    color: #000;
    font-size: 23px;
    font-weight: 700;
    margin-bottom:20px;
    margin-top: 35px;
}
.product.attribute.description ul {
    padding-left: 20px;
}
@media only screen and (max-width: 1024px){
	.page-layout-1column .product.media {
	    width: 300px;
	}
	
	.page-layout-1column .product-info-main {
	    width: calc(100% - 350px);
	    float: right;
	}
	
	.product-info-main .page-title-wrapper h1 span.base {
	    font-size: 24px;
	}
	
	.save_wrapper {
	    font-size: 13px;
	}
	
	.satisfaction_guarantee p {
	    font-size: 12px;
	}
	
	.satisfaction_guarantee .img-text p {
	    font-size: 14px;
	}
	.pdp_title {
	    font-size: 20px;
	}
}
@media only screen and (max-width: 767px){
	.page-layout-1column .product.media {
	    width: 100%;
	    float: none;
	}
	
	.page-layout-1column .product-info-main {
	    width: 100%;
	    float: none;
	    margin-top: 10px;
	}
	.product-info-main .product-info-price {
    	width: auto !important;
    	overflow: hidden;
    	clear: both;
    	margin: 10px 0px 0px;
    	padding: 0px;
	}

	.product-info-main .product-info-price .price-box {
    	padding-left: 0px;
	}
		.box-tocart .action.tocart {
	    width: 100%;
	}
	
	.product-info-main .page-title-wrapper h1 {
	    line-height: 24px;
	    display: block;
	}
	
	.product.attribute.description [data-element='inner'] ul li {
	    font-size: 12px;
	}
	
	.product.attribute.description [data-element='inner'] ul {
	    padding-left: 20px;
	}
	.fotorama__stage__frame .fotorama__img {
    	width: 100%;
	}
	.pdp_title {
	    font-size: 18px;
	   -ms-flex-order: -2;
    	-webkit-order: -2;
    	order: -2;
	}
}

.sections.nav-sections {
    display: none;
}