.error-paybill, .paybill-auth-form{
  width: 50%;
  margin-left: 25%;
}

.page-title-wrapper {
  position: unset !important;
  overflow: unset !important;
  width: auto !important;
  height: auto !important;
}

.page-title-wrapper h1 {
  font-size: 30px;
  padding-top: 25px;
  margin-bottom: 20px;
}

.billing-address-form .choice.field {
  display: none !important;
}

.email_me_section{
  display: none !important;
}

div#md_firstdata_save_card_div {
  display: none !important ;
}

.opc-progress-bar-item{
  width: 200px !important;
}

.billing-address-form{
  display: none !important;
}

.field-select-billing{
  margin : 0 !important;
}

.opc-wrapper .step-title{
  padding-bottom: 0 !important;
}

.custom-payment-info-title .custom-title {
    display: block;
    margin-bottom: 10px;
}

.custom-payment-info-title .payment-method .title{
    display: none !important;
}

.custom-payment-info-title .cards-list{
  display: none !important;
}
.paybill-checkout-index .item-options{
    display: none;
}

