.free-gift-container{
    width: 520px;
    margin: auto;
    display: table !important;
 }

 .free_gift_cms_block{
    justify-content: flex-start;
    flex-direction: column;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    border-style: none;
    border-width: 1px;
    border-radius: 0px;
    width: 50%;
    align-self: stretch;
    padding: 10px 0 !important;
    margin: 0 !important;
    vertical-align: middle !important;
    display: table-cell !important;
    font-family: ff-scala-sans-pro;
 }

 .free_gift_text_block{
    width: 428px;
    font-family: ff-scala-sans-pro;
 }

 .fg_cms_text{
    font-size: 24px;
    font-weight: 700;
    color: #000;
    line-height: 24px;
    margin-bottom: 10px;
    font-family: ff-scala-sans-pro;
 }

 .fg_cms_stext{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 0;
    line-height: 14px;
    font-family: ff-scala-sans-pro;
 }

 .fg_cms_img{
  width: 93px !important;
  display: block;
 }

 .fg_hide{
   display: none !important;
 }

 .ctaButton{
   font-size: 18px;
   color: #000;
   text-decoration: none;
   font-weight: 700;
   display: block;
   width: 197px;
   height: 50px;
   line-height: 50px;
   border: none;
   padding: 0;
   text-transform: uppercase;
   border-radius: 0;
   white-space: nowrap;
   cursor: pointer;
   font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
   box-sizing: border-box;
   vertical-align: middle;
 }

 .ps-price-cms .price-box{
   margin: 0;
   text-align: left;
   display: inline;
 }

 .ps-price-cms{
   text-align: left;
   margin: 15px 25px 10px;
   min-height: 60px;
 }

 .ps-price-cms .price-label{
    display: none;
 }

 .ps-price-cms .old-price{
   float: left;
   margin: 0;
 }

 .ps-price-cms .old-price .price{
   color: #000 !important;
   font-size: 24px !important;
   text-decoration: line-through;
   line-height: 40px !important;
   padding-right: 5px;
 }

 .ps-price-cms .special-price{
   /* float: left; */
 }

 .ps-price-cms .special-price .price{
   color: #f30;
   font-size: 32px;
   font-weight: 400;
   line-height: 40px;
 }

 .ps-price-cms .price-box .price {
   color: #f30;
   font-size: 32px;
   font-weight: 400;
   line-height: 40px;
}

 .strikeThroughDisable .old-price {
    display: none;
 }

 .save-price {
  color: #ff3300;
  font-family: ff-scala-sans-pro;
  font-size: 14px;
  font-weight: 400;
}

.country-select{
  border: 1px solid #CCCCCC;
  color: #808285;
  font-weight: 400;
  font-size: 13px;
  font-family: ff-scala-sans-pro;
  height: 54px;
  padding: 0px 20px;
  line-height: 54px;
  background: #fff url(../images/down-select-ar.png) no-repeat calc(100% - 20px) 50%;
  max-width: 400px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
  appearance: none;
  max-height: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0 !important;
}

select#professionalcategory option[disabled] {
  background: #f6f6f6;
}

.ucc-btn.ucc-btn-backtosite {
  color: #000;
  line-height: 25px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.7px;
  background: #fff;
  border: 1px solid #cccccc;
  margin-right: 30px;
  padding: 15px 30px 10px;
}
.ucc-btn.ucc-btn-backtosite:hover {
  border-color: #999999;
}
.ucc-btn.ucc-btn-profile-alert {
  color: #fff;
  line-height: 25px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.7px;
  margin-top: 15px;
  background-color: #0b4f82;
  border: 1px solid #0b4f82;
  position: relative;
  padding: 15px 45px 10px 30px;
}
.ucc-btn.ucc-btn-profile-alert:hover {
  background-color: #062841;
  color: #fff;
  text-decoration: none!important;
}
.alert-icon-arrow{
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -12px;
  transform: rotate(360deg);
  height: 24px;
  width: 24px;
}