<?php 
	$methodCode = $this->getMethodcode();
	$methodId = 'checkbox_'.$methodCode;
	$title = ($this->getTitle())?$this->getTitle():'I agree to the Automatic Renewal Convenience terms and conditions.';
?>
<div style="display: none;" class="custom-checkbox checkout-renewal-<?php echo $methodId?>">
<input type="checkbox"
       id="<?php echo $methodId?>"
       class="input-text required-entry bind-check-renewal" value="1" aria-required="true" />
<label for="<?php echo $methodId?>">
    <span><?php echo $title?></span>
</label>
</div>

<script>
    require([
        'jquery',
        'Nejm_Custom/js/view/checkbox',
        'domReady!'
    ], function($, nejmCustomCheckbox) {
        var options = {
            methodId: '<?php echo $methodId; ?>',
            methodCode: '<?php echo $methodCode; ?>'
        };
        nejmCustomCheckbox._init(options);
    });
</script>
