<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" css="_active: getCode() == isChecked()" afterRender="initListeners">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               attr="id: getCode()"
               ko-value="getCode()"
               ko-checked="isChecked"
               click="selectPaymentMethod"
               visible="isRadioButtonVisible()"/>
        <label attr="for: getCode()" class="label">
            <!-- ko if: isShowPaypalLogo() -->
            <!-- PayPal Logo -->
            <img attr="src: getPaymentAcceptanceMarkSrc(), alt: $t('Acceptance Mark')" class="payment-icon"/>
            <!-- PayPal Logo -->
            <!-- /ko -->
            <span text="getTitle()"/>
            <!-- ko if: isShowWhatIsPaypal() -->
            <a class="action action-help"
               attr="href: getPaymentAcceptanceMarkHref()"
               click="showAcceptanceWindow"
               translate="'What is PayPal?'"/>
            <!-- /ko -->
        </label>
    </div>
    <div class="payment-method-content">
        <each args="getRegion('messages')" render=""/>
        <div class="checkout-agreements-block">
            <each args="$parent.getRegion('before-place-order')" render=""/>
        </div>
        <div class="actions-toolbar" attr="id: getButtonId()" afterRender="renderPayPalButtons"/>
        <span class="paypal-tag-line-message" data-bind="text: tagLineMessage()"></span>
    </div>
</div>
