.error-renew, .renew-auth-form{
  width: 50%;
  margin-left: 25%;
}

.renewal_rate_block {
  display: block
}
.renewal_rate_block .renewal-rates-list {
  display: block;
  margin: 0;
  padding: 0;
}
.renewal_rate_block .renewal-rates-list .renewal-rates-item{
  display: flex;
}
.renewal_rate_block .renewal-rates-list .renewal-rates-item .renewal-rates-item-title{
  display: inline-block;
  width: 200px;
}
.renewal_rate_block .renewal-rates-list .renewal-rates-item .renewal-rates-item-profcat{
    display: inline-block;
    width: 200px;
}
.renewal_rate_block .renewal-rates-list .renewal-rates-item .renewal-rates-item-price{
  display: inline-block;
  width: 100px;
}

.page-title-wrapper {
  position: unset !important;
  overflow: unset !important;
  width: auto !important;
  height: auto !important;
}

.page-title-wrapper h1 {
  font-size: 30px;
  padding-top: 25px;
  margin-bottom: 20px;
}

.billing-address-form .choice.field {
  display: none !important;
}

div#md_firstdata_save_card_div {
  display: none !important ;
}

.opc-progress-bar-item{
  width: 200px !important;
}

.field-select-billing{
  margin : 0 !important;
}

.opc-wrapper .step-title{
  padding-bottom: 0 !important;
}

.email_me_section{
  display: none !important;
}
.modal-footer{
  display:none;
}
.shipping-address-modal .modal-footer{
    display: block;
}
.modals-overlay {
	background-color: rgba(51, 51, 51);
}
.modal-popup .modal-inner-wrap {
	width: 50%;
}
.modal-popup .modal-title {
	border-bottom: 3px solid #c1c1c1;
}
.renew-checkout-brand-text{
  margin-top:-20px;
  margin-bottom: 20px;
}
