.progress-success {
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
}
.progress-success > span {
    margin: 50px;
    color: #C3C3C3;
    font-size: 16px;
    font-weight: bold;
}
.progress-success > span > span {
    font-size: 18px;
    margin: 15px;
    line-height: 30px;
}
.progress-success > span.active {
    color: black;
    line-height: 50px;
}
.progress-success > span.active:before {
    content: '';
    background: url('../images/success.png');
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 10px;
}
.page-title-wrapper.show h1.page-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 58px;
    margin-bottom: 0;
}
p.email-note {
    font-size: 16px;
    color: black;
    line-height: 28px;
}
.success-wrapper {
    max-width: 1120px;
    margin: auto;
}
.to-right {
    width: 380px;
    float: right;
    text-align: right;
}
.order_details {
    margin-top: 20px;
}
p.heading {
    font-size: 16px;
    line-height: 35px;
    border-bottom: 1px solid #1C2022;
    font-weight: bold;
}
.single_item .item-name {
    display: inline-block;
    color: black;
    font-size: 18px;
    line-height: 24px;
    width: calc(100% - 100px);
    vertical-align: top;
}
p.item-price {
    display: inline-block;
    color: black;
    font-size: 18px;
    line-height: 24px;
    width: 95px;
    vertical-align: top;
    text-align: right;
}
p.item-months {
    font-size: 14px;
    margin-top: 15px;
}
.order_info {
    padding: 20px;
    background: #F9F3D9;
}
.order_info span {
    font-size: 14px;
    color: #000000;
    line-height: 16px;
}
.order_info p, .order_info a {
    font-size: 13px;
    color: #4E4F51;
    line-height: 19px;
    margin: 0;
}
.order_info a {
	text-decoration: underline;
}
.buttons a.back {
    background: #FFD833;
    color: black;
    width: 200px;
    display: inline-block;
    text-align: center;
    padding-bottom: 14px;
    padding-top: 18px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    float: left;
}
.buttons a.download {
    color: black;
    width: 255px;
    display: inline-block;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 16px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #CCCCCC;
    margin-right: 10px;
    float: left;
}
.buttons {
    margin-top: 30px;
    overflow: hidden;
    clear: both;
}
.order-billing {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 27px);
    padding-left: 25px;
    color: black;
    font-size: 14px;
    line-height: 24px;
}
.order-amount {
	display: inline-block;
    vertical-align: top;
    width: calc(50% - 27px);
    padding-right: 25px;
}
.order-amount p span {
    min-width: 100px;
    display: inline-block;
}
.order-amount > p:not(.heading) {
    font-size: 16px;
    color: black;
    line-height: 30px;
}
.order-amount-billing {
    margin-top: 60px;
}
a.view_recept {
    color: black;
    font-size: 14px;
    line-height: 50px;
    text-decoration: underline;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}
div#registration {
    display: none;
} 
.order-email p:not(.heading) {
    color: #000000;
    font-size: 14px;
    margin-top: 15px;
}
.buttons a.download:after {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../images/download-icon.png);
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 10px;
}
.order-email ul {
    list-style: none;
    padding-left: 20px;
}
.order-email ul li:before {
    content: '';
    width: 17px;
    height: 9px;
    display: inline-block;
    background: url(../images/ok.png);
    vertical-align: middle;
    background-repeat: no-repeat;
}
a.manage_email {
    color: black;
    font-size: 14px;
    line-height: 50px;
    text-decoration: underline;
    margin-top: 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
a.latest_issue {
    color: black;
    width: calc(100% - 475px);
    max-width:200px;
    display: block;
    text-align: center;
    padding: 16px 0px 12px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #CCCCCC;
    float: left;
}
.left-side {
    width: calc(100% - 380px);
    float: left;
}
.to-left {
    padding-right: 200px;
}
@media only screen and (max-width: 1050px){
	.to-left {
	    padding-right: 20px;
	}
	
	.buttons a.back,.buttons a.download,.buttons a.latest_issue {
	    float: none !important;
	    clear: both;
	    margin-bottom: 10px;
	    overflow: hidden;
	    display: block;
	}
	
	.buttons a.latest_issue {
	    width: 100%;
	    max-width: 255px;
	}
}
@media only screen and (max-width: 1024px){ 
	.left-side {
    	width: calc(100% - 300px);
    }
	.page-main {
		padding-left: 30px;
    	padding-right: 30px;
	}
	.progress-success > span {
		font-size: 12px;
	}
	.progress-success > span > span {
		font-size: 14px;
    }
    .progress-success > span.active:before {
    	width: 25px;
		height: 26px;
		background-repeat: no-repeat;
		background-size: 25px;
    }
    .progress-success > span {
		margin: 25px;
    }
    .page-title-wrapper.show h1.page-title {
		font-size: 32px;
	    line-height: 38px;
    }
    p.email-note {
		line-height: 24px;
		max-width: 290px;
    }
    .single_item .item-name {
		font-size: 14px;
    }
    p.item-price {
		font-size: 16px;
    }
    p.item-months {
		font-size: 13px;
    }
    p.payment-method {
		font-size: 13px;
	}
	.order_info span {
		display: block;
	}
	.buttons a.back {
		width: 255px;
    	margin-bottom: 10px;
	}
	.order-amount {
		width: calc(50% - 22px);
		padding-right: 20px;
	}
	.order-amount > p:not(.heading) span {
		font-size: 14px;
	}
	.order-billing {
		width: calc(50% - 5px);
   		padding-left: 3px;
	}
	.order-amount p span {
		min-width: 90px;
    }
    .to-right {
		max-width: 300px;
    	float: right;
    }
}
@media only screen and (max-width: 767px){ 
	.buttons a.latest_issue{
		max-width:100%;
	}
	.page-main {
		padding-left: 20px;
		padding-right: 20px;
	}
	.progress-success > span {
		margin: 10px;
	}
	.progress-success > span > span {
		margin: 5px;
	}
	.progress-success {
		margin-bottom: 30px;
		margin-top: 10px;
    }
    .to-right {
		width: 100%;
    }
    .left-side {
    	width: 100%;
	}
    .to-left{
    	padding-right:0px;
    }
    .page-title-wrapper.show h1.page-title {
		font-size: 26px;
		line-height: 31px;
	}
	p.email-note {
		line-height: 24px;
		font-size: 16px;
    }
    .buttons a.back,
    .buttons a.download {
		width: 100%;
	    margin-right: 0;
    }
    .order-amount, .order-billing {
		width: 100%;
    }
    .order-billing {
		padding-left: 0;
		margin-top: 30px;
	}
	.to-right {
		max-width: 100%;
		float: right;
		width: 100%;
	}
	.order-amount p span {
		min-width: 130px;
	}
}


