<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isEnabledActions() -->
<div class="actions-toolbar">
    <div class="primary">
        <button style="background: #FF3300; color: #ffffff" class="action action-update"
                type="button"
                click="updateAddress"
                id="myCustomUpdateButton">
            <span translate="'Continue'"/>
        </button>
        <button class="action action-cancel"
                type="button"
                click="cancelAddressEdit"
                visible="canUseCancelBillingAddress()">
            <span translate="'Cancel'"/>
        </button>
    </div>
</div>
<!-- /ko -->
