<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="file-uploader-summary">
    <div class="file-uploader-preview">
        <a class="preview-link"
           css="'preview-' + $file.previewType"
           attr="href: $parent.getFilePreview($file), title: $file.name" target="_blank">
            <img
                if="$file.previewType === 'document'"
                tabindex="0"
                event="load: $parent.onPreviewLoad.bind($parent)"
                attr="
                    src: $parent.getFilePreview($file),
                    alt: $file.name">
        </a>

        <div class="actions">
            <button
                type="button"
                class="action-remove"
                data-role="delete-button"
                attr="title: $t('Delete document')"
                click="$parent.removeFile.bind($parent, $file)">
                <span translate="'Delete document'"/>
            </button>
        </div>
    </div>

    <div class="file-uploader-filename" text="$file.name"/>

    <div class="file-uploader-meta">
        <span if="$file.previewType === 'image'">
            <text args="$file.previewWidth"/>x<text args="$file.previewHeight"/>,
        </span>
        <text args="$parent.formatSize($file.size)"/>
    </div>
</div>
