* {
  margin: 0;
  padding: 0;
  outline: 0; }

body {
  font-size: 18px;
  line-height: 28px;
  font-family: ff-scala-sans-web-pro,sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #000000; }

@font-face {
  font-family: Lyon Text Web;
  src: url(../fonts/LyonText-Regular-Web.woff2) format("woff2"), url(../fonts/LyonText-Regular-Web.woff) format("woff"); }
@font-face {
  font-family: Lyon Display Web;
  font-weight: 500;
  src: url(../fonts/LyonDisplay-Medium-Web.woff2) format("woff2"), url(../fonts/LyonDisplay-Medium-Web.woff) format("woff"); }
.CIC-header {
  padding: 30px 0; }

.CIC-logo {
  display: block;
  max-width: 170px; }
  .CIC-logo > img {
    max-width: 100%;
    height: auto;
    display: block; }

.CIC-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.CIC-content {
  -ms-flex: 0 0 62%;
  flex: 0 0 62%;
  max-width: 62%; }

.CIC-sidebar {
  -ms-flex: 0 0 38%;
  flex: 0 0 38%;
  max-width: 38%; }

.CIC-imgfluid {
  display: block;
  max-width: 100%;
  height: auto; }

.CIC-sidebar {
  background-color: #fff;
  border-top: 6px solid #009977;
  padding: 40px; }

.CIC-content__inner {
  padding: 60px 60px 60px 0; }

.CIC-banner__content {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5; }
  .CIC-banner__content > h1 {
    font-family: Lyon Text Web;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: 0.2px;
    margin: 0 0 15px; }
  .CIC-banner__content > h3 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.2px;
    color: #009977;
    font-family: Lyon Text Web;
    margin: 0; }

.CIC-content-para {
  padding: 25px 0; }

.CIC-content-list {
  background-color: #f5fbfa;
  border-top: 1px solid #009977;
  padding: 25px 20px;
  margin-bottom: 25px; }
  .CIC-content-list > p {
    margin-bottom: 15px; }
  .CIC-content-list ul {
    padding-left: 18px;
    margin-bottom: 0; }

.CIC-footer {
  margin: 0;
  border-top: 1px solid #e8e8e8;
  padding: 20px 15px; }

.CIC-footer-copyright > p {
  margin: 4px 0;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 20px; }
.CIC-footer-copyright a {
  color: #000;
  text-decoration: none; }

.CIC-footer-right {
  text-align: right; }

.CIC-footer-copyright-br {
  display: none; }

/** Media Query **/
@media only screen and (max-width: 991px) {
  body {
    font-size: 16px;
    line-height: 24px; }

  .CIC-header {
    padding: 10px 0; }

  .CIC-logo {
    max-width: 100px; }

  .CIC-main {
    display: block; }

  .CIC-content, .CIC-sidebar {
    flex: 0 0 100%;
    max-width: 100%; }

  .CIC-content__inner {
    padding: 25px 0; }

  .CIC-banner__content {
    padding-bottom: 20px; }
    .CIC-banner__content > h1 {
      font-size: 30px;
      line-height: 34px;
      letter-spacing: 0; }
    .CIC-banner__content > h3 {
      font-size: 20px;
      line-height: 24px; }
      .CIC-banner__content > h3 > br {
        display: none; }

  .CIC-content-para {
    padding: 20px 0; }

  .CIC-content-list {
    padding: 20px;
    margin-bottom: 20px; }

  .CIC-text-bottom {
    font-weight: 700;
    margin: 0; }

  .CIC-sidebar {
    border-top-width: 3px;
    padding: 30px 15px; }

  .CIC-footer {
    border-top: 0;
    text-align: center; }

  .CIC-footer-right {
    display: none; }

  .CIC-footer-copyright-br {
    display: block; }

  .CIC-footer-copyright > p {
    margin: 0; } }
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .CIC-content__inner {
    padding: 40px 30px 40px 0; }

  .CIC-banner__content > h1 {
    font-size: 38px;
    line-height: 46px; }
  .CIC-banner__content > h3 {
    font-size: 24px;
    line-height: 30px; } }

/*# sourceMappingURL=style.css.map */
/** Ebook Page CSS **/

.EB-header {
  padding: 25px 0; }

.EB-logo {
  display: block;
  max-width: 170px; }
  .EB-logo > img {
    display: block;
    max-width: 100%;
    height: auto; }

.EB-banner {
  background-color: #ffd833; }
  .EB-banner__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .EB-banner__left {
    -ms-flex: 0 0 62%;
    flex: 0 0 62%;
    max-width: 62%;
    padding: 50px 50px 50px 0; }
    .EB-banner__left > h3 {
      font-size: 34px;
      line-height: 52px;
      letter-spacing: 0;
      color: #040404;
      font-family: Lyon Text Web;
      margin: 0; }
    .EB-banner__left > h1 {
      font-family: Lyon Text Web;
      font-size: 46px;
      line-height: 54px;
      letter-spacing: 0;
      margin: 0 0 10px; }
    .EB-banner__left > p {
      font-size: 24px;
      line-height: 28px;
      margin: 0; }
  .EB-banner__right {
    -ms-flex: 0 0 38%;
    flex: 0 0 38%;
    max-width: 38%;
    background-color: #f6f6f6; }

.EB-form__head {
  background-color: #4f4f73;
  text-align: center;
  padding: 50px 15px; }
  .EB-form__head > h4 {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    font-family: ff-scala-sans-pro,sans-serif;
    margin-bottom: 12px; }
  .EB-form__head > h2 {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #fff;
    font-family: ff-scala-sans-pro,sans-serif;
    margin: 0;
    font-weight: 700; }

.EB-main__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.EB-main__content {
  -ms-flex: 0 0 62%;
  flex: 0 0 62%;
  max-width: 62%;
  padding: 55px 55px 90px 0; }
  .EB-main__content > .EB-img__fluid {
    margin: 0 auto 50px; }
  .EB-main__content > p {
    margin-bottom: 20px; }
.EB-main__sidebar {
  -ms-flex: 0 0 38%;
  flex: 0 0 38%;
  max-width: 38%;
  background-color: #f6f6f6; }
  .EB-main__sidebar .EB-form__head {
    display: none; }

.EB-form__container {
  padding: 30px;
  margin-top: -85px; }

.EB-img__fluid {
  max-width: 100%;
  height: auto;
  display: block; }

.EB-content-list {
  background-color: #fcf9eb;
  border-top: 2px solid #ffd833;
  padding: 30px 20px; }
  .EB-content-list > p {
    text-transform: uppercase;
    font-weight: 700;
    color: #4f4f73;
    margin: 0 0 10px; }
  .EB-content-list ul {
    padding-left: 18px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 25px; }
    .EB-content-list ul > li {
      padding: 7px 0; }

.EB-footer {
  margin: 0;
  border-top: 1px solid #e8e8e8;
  padding: 20px 15px; }

.EB-footer-copyright > p {
  margin: 4px 0;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 20px; }
.EB-footer-copyright a {
  color: #000;
  text-decoration: none; }

.EB-footer-right {
  text-align: right; }

.EB-footer-copyright-br {
  display: none; }

/** Media Query **/
@media only screen and (max-width: 991px) {
  body {
    font-size: 16px;
    line-height: 24px; }

  .EB-header {
    padding: 10px 0; }

  .EB-logo {
    max-width: 100px; }

  .EB-banner__inner {
    display: block;
    padding: 25px 0; }
  .EB-banner__right {
    display: none; }
  .EB-banner__left {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0; }
    .EB-banner__left > h1 {
      font-size: 25px;
      line-height: 30px; }
    .EB-banner__left > h3 {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 8px; }
    .EB-banner__left > p {
      font-size: 16px;
      line-height: 22px; }
      .EB-banner__left > p br {
        display: none; }

  .EB-main {
    padding: 20px 0 10px; }
    .EB-main__inner {
      display: block; }
    .EB-main__content, .EB-main__sidebar {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0; }
    .EB-main__content > .EB-img__fluid {
      margin-bottom: 20px; }
    .EB-main__content > p {
      margin-bottom: 15px; }
    .EB-main__sidebar .EB-form__head {
      display: block; }

  .EB-content-list ul {
    font-size: 16px;
    line-height: 22px; }

  .EB-form__container {
    margin: 0; }

  .EB-form__head {
    padding: 20px 15px; }
    .EB-form__head > h4 {
      font-size: 18px;
      line-height: 24px; }
    .EB-form__head > h2 {
      font-size: 18px;
      line-height: 24px; }

  .EB-footer {
    border-top: 0;
    text-align: center; }

  .EB-footer-right {
    display: none; }

  .EB-footer-copyright-br {
    display: block; }

  .EB-footer-copyright > p {
    margin: 0; } }
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .EB-header {
    padding: 15px 0; }

  .EB-logo {
    max-width: 150px; }

  .EB-banner__left {
    padding: 35px 50px 35px 0; }
    .EB-banner__left > h1 {
      font-size: 40px;
      line-height: 45px; }
    .EB-banner__left > h3 {
      font-size: 24px;
      line-height: 27px;
      margin-bottom: 5px; }
    .EB-banner__left > p {
      font-size: 18px;
      line-height: 25px; }
      .EB-banner__left > p br {
        display: none; }

  .EB-form__head {
    padding: 35px 15px; }
    .EB-form__head > h4 {
      font-size: 18px;
      line-height: 24px; }
    .EB-form__head > h2 {
      font-size: 20px;
      line-height: 30px; } }


/** Connect Page CSS **/

      .CC-header{
        border-bottom: 1px solid #e8e8e8;
        padding: 30px 0; }
      
      .CC-logo {
        display: block;
        max-width: 170px; }
        .CC-logo > img {
          max-width: 100%;
          height: auto;
          display: block; }
      
      .CC-main {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      
      .CC-content {
        -ms-flex: 0 0 62%;
        flex: 0 0 62%;
        max-width: 62%; }
      
      .CC-sidebar {
        -ms-flex: 0 0 38%;
        flex: 0 0 38%;
        max-width: 38%; }
      
      .CC-imgfluid {
        display: block;
        max-width: 100%;
        height: auto; }
      
      .CC-sidebar {
        background-color: #f9f3d9;
        padding: 40px; }
      
      .CC-content__inner {
          font-family: ff-scala-sans-pro;
        padding: 60px 60px 60px 0; }
      
      .CC-banner__content {
        padding-bottom: 25px;
        border-bottom: 1px solid #e5e5e5; }
        .CC-banner__content > h1 {
          font-family: Lyon Text Web;
          font-size: 44px;
          line-height: 52px;
          letter-spacing: 0.2px;
          margin: 0 0 15px; }
        .CC-banner__content > h3 {
          font-size: 28px;
          line-height: 36px;
          letter-spacing: 0.2px;
          color: #009977;
          font-family: Lyon Text Web;
          margin: 0; }
      
      .CC-content-para {
        padding: 25px 0; }
      
      .CC-content-list {
        background-color: #f5fbfa;
        border-top: 1px solid #009977;
        padding: 25px 20px;
        margin-bottom: 25px; }
        .CC-content-list > p {
          margin-bottom: 15px; }
        .CC-content-list ul {
          padding-left: 18px;
          margin-bottom: 0; }
      
      .CC-footer {
        margin: 0;
        border-top: 1px solid #e8e8e8;
        padding: 20px 15px; }
      
      .CC-footer-copyright > p {
        margin: 4px 0;
        color: #4d4d4d;
        font-size: 16px;
        line-height: 20px; }
      .CC-footer-copyright a {
        color: #000;
        text-decoration: none; }
      
      .CC-footer-right {
        text-align: right; }
      
      .CC-footer-copyright-br {
        display: none; }
      .CC-text-green {
          color: #009977;}
      
      /** Media Query **/
      @media only screen and (max-width: 991px) {
        body {
          font-size: 16px;
          line-height: 24px; }
      
        .CC-header {
          padding: 10px 0; }
      
        .CC-logo {
          max-width: 100px; }
      
        .CC-main {
          display: block; }
      
        .CC-content, .CC-sidebar {
          flex: 0 0 100%;
          max-width: 100%; }
      
        .CC-content__inner {
          padding: 25px 0; }
      
        .CC-banner__content {
          padding-bottom: 20px; }
          .CC-banner__content > h1 {
            font-size: 30px;
            line-height: 34px;
            letter-spacing: 0; }
          .CC-banner__content > h3 {
            font-size: 20px;
            line-height: 24px; }
            .CC-banner__content > h3 > br {
              display: none; }
      
        .CC-content-para {
          padding: 20px 0; }
      
        .CC-content-list {
          padding: 20px;
          margin-bottom: 20px; }
      
        .CC-text-bottom {
          margin: 0; }
      
        .CC-sidebar {
          border-top-width: 3px;
          padding: 30px 15px; }
      
        .CC-footer {
          border-top: 0;
          text-align: center; }
      
        .CC-footer-right {
          display: none; }
      
        .CC-footer-copyright-br {
          display: block; }
      
        .CC-footer-copyright > p {
          margin: 0; } }
      @media only screen and (min-width: 992px) and (max-width: 1024px) {
        .CC-content__inner {
          padding: 40px 30px 40px 0; }
      
        .CC-banner__content > h1 {
          font-size: 38px;
          line-height: 46px; }
        .CC-banner__content > h3 {
          font-size: 24px;
          line-height: 30px; } }
      @media only screen and (min-width: 1025px) and (max-width: 1200px) {
          .CC-banner__content > h3{
              font-size: 24px;
              line-height: 32px;}
      }
      
      .connect-form .ucc-form{ 
          background-color: #f9f3d9 !important;    
      }
      
      .ebook-form .ucc-form{ 
        background-color: #f6f6f6 !important;    
    }

ul{
  padding-left: 18px;
}

@media (max-width: 480px){
  .CMS-container-mobile {
    width: 100% !important;
  }
  .pagebuilder-column-group {
    padding: 0 16px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1279px){
.CMS-container-mobile {
  width: 100% !important;
}

.pagebuilder-column-group {
  padding: 0 30px !important;
}
}

@media (min-width: 1280px){
.CMS-container-mobile {
    max-width: 1170px;
}

.pagebuilder-column-group {
  padding: 0 15px !important;
}
}

@media only screen and (max-width: 991px) {
  body {
    font-size: 16px;
    line-height: 24px; }

  .CMS-header-mobile {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    border-style: none;
    padding: 10px 0;
    text-align: center;
    margin: 0;
    font-size: 14px;
    font-weight: 900;
    color: #333333;
    font-family: ff-scala-sans-pro, sans-serif;
  }

  .CMS-heading-mobile-30 > p span{
    font-size: 30px !important;
  }

  .CMS-heading-mobile-28 > p span{
    font-size: 28px !important;
  }

  .CMS-heading-mobile-26 > p span{
    font-size: 26px !important;
  }

  .CMS-heading-mobile-24 > p span{
    font-size: 24px !important;
  }

  .CMS-heading-mobile-32 > p span{
    font-size: 32px !important;
  }

  .CMS-heading-mobile-22 > p span{
    font-size: 22px !important;
  }

  .CMS-heading-mobile-20 > p span{
    font-size: 20px !important;
  }

  .CMS-heading-mobile-18 > p span{
    font-size: 18px !important;
  }

  .CMS-heading-mobile-16 > p span{
    font-size: 16px !important;
  }

  .CMS-heading-mobile-14 > p span{
    font-size: 14px !important;
  }

  .CMS-position-down-mobile {
    order:1;
  }
  .CMS-Content-mobile {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0; 
  }

  .CMS-content-list-mobile ul {
    font-size: 16px;
    line-height: 22px; }

  .CMS-footer-mobile span{
    border-top: 0;
    font-size: 16px !important;
    line-height: 20px;
    font-family: ff-scala-sans-pro, sans-serif !important;
    font-weight: 400;
    word-break: break-word; 
    color: #4d4d4d;
   }

   .CMS-footer-mobile{
    padding: 20px 24px 0 24px !important;

    text-align: center !important;
   }

   .CMS-footer-link-mobile{
    font-size: 16px !important;
    line-height: 20px;
    font-family: ff-scala-sans-pro, sans-serif !important;
    font-weight: 400;
    padding: 0 24px 0 24px !important;
    text-align: center;
   }

   .CMS-footer-link-mobile a{
    color: #000;
    text-decoration: none;
   }

  .CMS-Hidden-mobile{
    display: none !important;
  }

  .CMS-noPadding-mobile{
    padding: 0 !important;
  }

  .CMS-noPadding-mobile-paragraph > p{
    padding: 0 !important;
  }

  .pagebuilder-column-group {
    flex-wrap: wrap;
  }

  .CMS-flex-mobile{
    flex-wrap: wrap;
  }

  .CMS-full-width-mobile{
    width: 100% !important;
  }

  .pagebuilder-mobile-only {
    display: none !important;
  }

  .pagebuilder-mobile-hidden {
    display: inline !important;
  }

  .CMS-text-center-mobile-paragraph > p{
    text-align: center !important;
  }

  .CMS-text-img-center-mobile{
    text-align: center !important;
  }

  .CMS-text-center-mobile-span > p span{
    text-align: center !important;
  }

  .CMS-noMargin-mobile{
    margin: 0 !important;
  }

  .CMS-noMargin-mobile-paragraph > p{
    margin: 0 !important;
  }

}
@media only screen and (min-width: 992px) and (max-width: 1024px) {

    .CMS-footer-link-tab a{
      color: #000;
      text-decoration: none;
     }
  
    .CMS-Hidden-tab{
      display: none !important;
    }
  
    .CMS-noPadding-tab{
      padding: 0 !important;
    }
  
    .pagebuilder-column-group {
      flex-wrap: wrap;
    }
  
  
    .CMS-full-width-tab{
      width: 100% !important;
    }

    .CMS-heading-tab-30 > p span{
      font-size: 30px !important;
    }
  
    .CMS-heading-tab-28 > p span{
      font-size: 28px !important;
    }
  
    .CMS-heading-tab-26 > p span{
      font-size: 26px !important;
    }
  
    .CMS-heading-tab-24 > p span{
      font-size: 24px !important;
    }
  
    .CMS-heading-tab-32 > p span{
      font-size: 32px !important;
    }

    .CMS-heading-tab-22 > p span{
      font-size: 22px !important;
    }

    .CMS-heading-tab-20 > p span{
      font-size: 20px !important;
    }

    .CMS-heading-tab-18 > p span{
      font-size: 18px !important;
    }

    .CMS-heading-tab-16 > p span{
      font-size: 16px !important;
    }

    .CMS-heading-tab-14 > p span{
      font-size: 14px !important;
    }

    .CMS-text-center-tab-paragraph > p{
      text-align: center !important;
    }
  
    .CMS-img-center-tab{
      text-align: center !important;
    }
  
    .CMS-text-center-tab-span > p span{
      text-align: center !important;
    }

    .CMS-noMargin-tab{
      margin: 0 !important;
    }

    .CMS-noMargin-tab-paragraph > p{
      margin: 0 !important;
    }

    .CMS-noPadding-tab-paragraph > p{
      padding: 0 !important;
    }
  

   }

.CMS-border-top-container{
    border-top: 1px solid #000 !important;
    border-left: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
}

.CMS-border-top-left-container{
  border-top: 1px solid #000 !important;
  border-left: 1px solid #000 !important;
}

.CMS-border-top-right-container{
  border-top: 1px solid #000 !important;
  border-right: 1px solid #000 !important;
}

.CMS-border-middle-container{
  border-left: 1px solid #000 !important;
  border-right: 1px solid #000 !important;
}

.CMS-border-middle-left-container{
  border-left: 1px solid #000 !important;
}

.CMS-border-middle-right-container{
  border-right: 1px solid #000 !important;
}

.CMS-border-bottom-left-container{
  border-left: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
}

.CMS-border-bottom-right-container{
  border-right: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
}

.CMS-border-bottom-container{
  border-left: 1px solid #000 !important;
  border-right: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
}

.CMS-bottom-image-category-page-width-25{
  width: 25px;
}

.CMS-No-Padding-paragraph > p{
  padding: 0px !important;
}

.CMS-No-Margin-paragraph > p{
  margin: 0px !important;
}

.CMS-column-flex-direction-reverse{
  flex-direction: row-reverse !important;
}

.CMS-display-inline{
  display: inline !important;
}

.CMS-display-block-inline{
  display: inline-block !important;
}

.nav-sections{
  display: none !important;
}
