span.action.nav-toggle {
    display: none;
}
.page-wrapper header.page-header {
    box-shadow: 0 0 2px #c5c5c5;
}
.page-header .header.content {
    padding: 0 15px;
}
.page-header .header.content .minicart-wrapper {
    margin: 0;
    padding: 10px 0 10px 15px;
    border-left: 1px solid #E5E5E5;
}
.page-header .header.content .header-account-link {
    margin-top: 0;
    padding: 10px 15px 10px 0;
}
.page-header .header-additional-middle {
    background: #4E4F51;
}
.page-header .header-additional-middle .header.content.middle{
    padding: 0 15px;
}
.page-header .header.content.middle .nejm-logo {
    float: left;
    display: inline-grid;
}
.page-header .header.content.middle .nejm-logo img{
    width: 100%;
}
.page-header .header-additional-middle .header.content.middle .subscription-text {
    color: #F6F6F6;
    font-size: 24px;
    text-align: right;
    line-height: 68px;
    letter-spacing: -0.01em;
    float: right;
}
.header-additional-bottom .header.content.bottom .logo {
    float: none;
    text-align: center;
    padding: 25px 0;
}
.header-additional-bottom .header.content.bottom .logo img {
    display: inline-block;
    text-align: center;
}
footer.page-footer [data-content-type="row"][data-appearance="contained"],
.cart-footer [data-content-type="row"][data-appearance="contained"]{
    max-width: 1380px;
    padding: 0 15px;
}
footer.page-footer, .cart-footer {
    padding: 44px 0 50px 0;
    background: #FFFFFF;
    border-top: 1px solid #E5E5E5;
}
footer.page-footer .pagebuilder-column-group {
    display: block !important;
    float: right;
    margin-right: 10px;
    width: 325px;
    padding: 20px 0 0 0 !important;
}
footer.page-footer .pagebuilder-column {
    padding: 0px !important;
    display: block !important;
    float: left;
    width: auto !important;
    margin-right: 5px !important;
}
footer.page-footer .pagebuilder-column:last-child {
    width: 100px !important;
}
footer.page-footer .copyright, .cart-footer .copyright {
    width: calc(100% - 500px);
}
footer.page-footer .copyright .copyright-text, .cart-footer .copyright .copyright-text {
    font-size: 16px;
    color: #4D4D4D;
}
footer.page-footer .copyright .copyright-text a, .cart-footer .copyright .copyright-text a{
    color: #000000;
}
footer.page-footer figure.copyright-logo, .cart-footer figure.copyright-logo {
    width: 103px;
    height: 56px;
    line-height: 56px;
}
footer.page-footer figure.copyright-logo img, .cart-footer figure.copyright-logo img {
    vertical-align: middle;
}
.minicart-wrapper .action.showcart .counter.qty {
    float: right;
    margin: 3px 0 0 7px;
}
@media all and (min-width: 768px), print {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container,
    .page-main {
        max-width: 1380px;
    }
}

@media only screen and (max-width: 1024px){
    .page-header .header.content {
        padding: 0 35px;
    }
    .page-header .header-additional-middle .header.content.middle {
        padding: 0 35px;
    }
    footer.page-footer .copyright, .cart-footer .copyright {
        width: 100%;
    }
    .header-additional-bottom .header.content.bottom .logo {
        padding: 30px 0;
        width: 315px;
        height: 35px;
        margin: 0 auto;
    }
    .header-additional-bottom .header.content.bottom .logo img {
        display: none;
    }
    footer.page-footer, .cart-footer {
        padding: 44px 0 20px 0;
    }
    footer.page-footer .copyright .copyright-text, .cart-footer .copyright .copyright-text {
        width: auto;
        max-width: 100%;
        padding: 0 15px;
    }
    footer.page-footer figure.copyright-logo, .cart-footer figure.copyright-logo {
        margin: 10px 0 0 15px !important;
        text-align: left;
        float: left;
    }
}

@media only screen and (max-width: 767px){
    .page-header .header-additional-middle .header.content.middle {
        padding: 0;
        margin: 0;
    }
    .page-header .header-additional-middle .header.content.middle .subscription-text {
        margin-right: 15px;
    }
    .page-header .header.content {
        padding: 0;
        margin-right: 15px;
    }
    .page-header .header.content.bottom {
        margin: 0;
    }
    .header-additional-bottom .header.content.bottom .logo {
        padding: 30px 0;
        width: 315px;
        height: 35px;
        margin: 0 auto;
    }
    .header-additional-bottom .header.content.bottom .logo img {
        display: none;
    }
    footer.page-footer .copyright, .cart-footer .copyright {
        width: 100%;
        text-align: left;
        order: 1;
    }
    footer.page-footer .copyright .copyright-text, .cart-footer .copyright .copyright-text{
        width: auto;
        max-width: 100%;
        padding: 0 15px;
    }
    footer.page-footer figure.copyright-logo, .cart-footer figure.copyright-logo {
        margin: 10px 0 0 15px !important;
        order: 3;
    }
    footer.page-footer .pagebuilder-column-group {
        margin: auto;
        float: none;
    }
    footer.page-footer .pagebuilder-column-group {
        width: 90%;
        order: 2;
    }
    footer.page-footer .pagebuilder-column:last-child {
        margin: auto !important;
        width: 100% !important;
        float: none !important;
    }

    footer.page-footer .copyright-row {
        display: flex !important;
    }
}
